﻿@model  TMS.View.Platform.UyelikAktifEt
@{
    string Ad = "Token Yönetim Sistemi | Üyelik";
    Layout = "~/Areas/Platform/Views/Shared/_Root.cshtml";
}
<!-- start: page -->
@using (Html.BeginForm("AktifEt", "Uyelik", FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "FrmIslem" }))
{
    @Html.HiddenFor(x => x.PencereAd)
    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo pull-left">
                <img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Logo.Png?w=200&h=75")" height="75" alt="@Ad" />
            </a>
            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Üyelik | @Model.PencereAd</h2>
                </div>
                <div class="panel-body">
                    @if (Model.IslemMesaj.Visible && Model.IslemMesaj.Tip == TMS.View.Genel.IslemMesajTip.Basarili)
                    {
                        <div class="alert alert-info fade in nomargin">
                            <h4>Tebrikler ! Başarıyla gönderildi.</h4>
                            <p>
                                Üyeliğinizi tamamlamak ve sistemden faydalanabilmek için mailinize gelen aktivasyon linkine tıklamayı unutmayınız.
                            </p>
                        </div>
                        <div class="row">
                            <div class="mb-xs text-center">
                                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Davet")" class="btn btn-success mb-md ml-xs mr-xs">Davet Et <i class="fa fa-facebook"></i></a>
                                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/SifremiUnuttum")" class="btn btn-info mb-md ml-xs mr-xs">Şifremi Unuttum <i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group mb-none">
                            <div class="row">
                                <div class="col-lg-12 mb-lg">
                                    @Html.LabelFor(x => x.Eposta)
                                    @Html.TextBoxFor(x => x.Eposta, new
                                       {
                                           @class = "form-control"
                                       })
                                    @Html.ValidationMessageFor(x => x.Eposta)
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <button type="submit" class="btn btn-danger hidden-xs btn-md pull-left">Aktivasyon Maili Gönder</button>
                                <button type="submit" class="btn btn-danger btn-block btn-lg visible-xs mt-lg pull-left">Aktivasyon Maili Gönder</button>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a target="_blank" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Davet")" class="btn btn-success hidden-xs btn-md pull-right"> Arkadaşımı Davet Et</a>
                                <a target="_blank" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Davet")" class="btn btn-success btn-block btn-lg visible-xs mt-lg pull-right">Arkadaşımı Davet Et</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <p class="text-center" style="color: #080808;background-color: #c1b9b9;padding: 10px;border-radius: 5px;opacity: 0.9;font-size: 18px;">&copy; Copyright 2020. @Ad</p>
        </div>
    </section>

}
<!-- end: page -->
@section LayoutScript{
    @if (Model.IslemMesaj.Visible && Model.IslemMesaj.Tip == TMS.View.Genel.IslemMesajTip.Basarili)
    {

    }
    else
    {
        @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    }
}
