﻿@model  TMS.View.Platform.Uyelik
@{ string Ad = "Token Yönetim Sistemi | Üyelik";
    Layout = "~/Areas/Platform/Views/Shared/_Root.cshtml"; }
<!-- start: page -->
@using (Html.BeginForm("Index", "Uyelik", FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "FrmIslem" }))
{
    @Html.HiddenFor(x => x.PencereAd)
    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo pull-left">
                <img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Logo.Png?w=200&h=75")" height="75" alt="@Ad" />
            </a>
            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Üyelik | @Model.PencereAd</h2>
                </div>
                <div class="panel-body">
                    @if (Model.IslemMesaj.Visible && Model.IslemMesaj.Tip == TMS.View.Genel.IslemMesajTip.Basarili)
                                                {
                                <div class="alert alert-info fade in nomargin">
                                    <h4>Tebrikler ! artık bizimlesiniz.</h4>
                                    <p>
                                        Üyeliğinizi tamamlamak ve sistemden faydalanabilmek için mailinize gelen aktivasyon linkine tıklamayı unutmayınız.
                                    </p>
                                </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Account/Index")" class="btn btn-success hidden-xs btn-md pull-right"> Giriş Yap</a>
                                                            <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Account/Index")" class="btn btn-success btn-block btn-lg visible-xs mt-lg pull-right">Giriş Ya</a>
                                                        </div>
                                                        @*<div class="col-sm-6 text-right">
                                                            <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Davet")" class="btn btn-success hidden-xs btn-md pull-right"> Arkadaşımı Davet Et</a>
                                                            <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Davet")" class="btn btn-success btn-block btn-lg visible-xs mt-lg pull-right">Arkadaşımı Davet Et</a>
                                                        </div>*@
                                                    </div> }
                    else
                                                {

                                <div class="form-group mb-none">
                                    <div class="row">
                                        <label>Email <bold style="font-weight:700">( Kullanıcı Adı )</bold> </label>
                                        @Html.TextBoxFor(x => x.Eposta, new
                                        {
                                            @class = "form-control"
                                        })
                                        @Html.ValidationMessageFor(x => x.Eposta)
                                    </div>
                                </div>
                                                    <div class="form-group mb-none">
                                                        <div class="row">
                                                            <div class="col-sm-6 mb-lg">
                                                                @Html.LabelFor(x => x.Ad)
                                                                @Html.TextBoxFor(x => x.Ad, new
                                                                {
                                                                    @class = "form-control"
                                                                })
                                                                @Html.ValidationMessageFor(x => x.Ad)
                                                            </div>
                                                            <div class="col-sm-6 mb-lg">
                                                                @Html.LabelFor(x => x.Soyad)
                                                                @Html.TextBoxFor(x => x.Soyad, new
                                                                {
                                                                    @class = "form-control"
                                                                })
                                                                @Html.ValidationMessageFor(x => x.Soyad)
                                                            </div>
                                                        </div>
                                                    </div>
                                                                        <div class="form-group mb-none">
                                                                            <div class="row">
                                                                                <div class="col-sm-6 mb-lg">
                                                                                    @Html.LabelFor(x => x.Cinsiyet)
                                                                                    @Html.DropDownListFor(x => x.Cinsiyet,
                                                                                                         new List<SelectListItem>{
                                          new SelectListItem {
                                             Text="Kadın",
                                             Value="1",
                                          },
                                          new SelectListItem {
                                             Text="Erkek",
                                             Value="2",
                                          }
},
                                                                                                         new
                                                                                                         {
                                                                                                             @data_plugin_selectTwo = "",
                                                                                                             @class = " form-control  populate",
                                                                                                         })
                                                                                    @Html.ValidationMessageFor(x => x.Cinsiyet)
                                                                                </div>
                                                                                <div class="col-sm-6 mb-lg">
                                                                                    @Html.LabelFor(x => x.Telefon)
                                                                                    @Html.TextBoxFor(x => x.Telefon, new
                                                                                    {
                                                                                        @class = "form-control"
                                                                                    })
                                                                                    @Html.ValidationMessageFor(x => x.Telefon)
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                                            <div class="form-group mb-none">
                                                                                                <div class="row">
                                                                                                    @Html.LabelFor(x => x.Universite)
                                                                                                    @Html.TextBoxFor(x => x.Universite, new
                                                                                                    {
                                                                                                        @class = "form-control remoteselect",
                                                                                                        @data_createurl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/UniversiteEkle", false),
                                                                                                        @data_selecturl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/UniversiteListesiGetir", false),
                                                                                                        @data_initurl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/UniversiteDegerGetir/", false),
                                                                                                        @data_initvalue = @Model.Universite
                                                                                                    })
                                                                                                    @Html.ValidationMessageFor(x => x.Universite)
                                                                                                </div>
                                                                                            </div>
                                                                                                                <div class="form-group mb-none">
                                                                                                                    <div class="row">
                                                                                                                        @Html.LabelFor(x => x.Fakulte)
                                                                                                                        @Html.TextBoxFor(x => x.Fakulte, new
                                                                                                                        {
                                                                                                                            @class = "form-control remoteselect",
                                                                                                                            @data_createurl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/FakulteEkle", false),
                                                                                                                            @data_selecturl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/FakulteListesiGetir", false),
                                                                                                                            @data_initurl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/FakulteDegerGetir/", false),
                                                                                                                            @data_initvalue = @Model.Fakulte
                                                                                                                        })
                                                                                                                        @Html.ValidationMessageFor(x => x.Fakulte)
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                                    <div class="form-group mb-none">
                                                                                                                                        <div class="row">
                                                                                                                                            @Html.LabelFor(x => x.Bolum)
                                                                                                                                            @Html.TextBoxFor(x => x.Bolum, new
                                                                                                                                            {
                                                                                                                                                @class = "form-control remoteselect",
                                                                                                                                                @data_createurl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/BolumEkle", false),
                                                                                                                                                @data_selecturl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/BolumListesiGetir", false),
                                                                                                                                                @data_initurl = @TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Platform/Base/BolumDegerGetir/", false),
                                                                                                                                                @data_initvalue = @Model.Bolum
                                                                                                                                            })
                                                                                                                                            @Html.ValidationMessageFor(x => x.Bolum)
                                                                                                                                        </div>
                                                                                                                                    </div>

                                                                                                                                                        <div class="form-group mb-none">
                                                                                                                                                            <div class="row">
                                                                                                                                                                <div class="col-sm-6 mb-lg">
                                                                                                                                                                    @Html.LabelFor(x => x.Sifre)
                                                                                                                                                                    @Html.TextBoxFor(x => x.Sifre, new
                                                                                                                                                                    {
                                                                                                                                                                        @class = "form-control",
                                                                                                                                                                        @type = "password"
                                                                                                                                                                    })
                                                                                                                                                                    @Html.ValidationMessageFor(x => x.Sifre)
                                                                                                                                                                </div>
                                                                                                                                                                <div class="col-sm-6 mb-lg">
                                                                                                                                                                    @Html.LabelFor(x => x.SifreOnay)
                                                                                                                                                                    @Html.TextBoxFor(x => x.SifreOnay, new
                                                                                                                                                                    {
                                                                                                                                                                        @class = "form-control",
                                                                                                                                                                        @type = "password"
                                                                                                                                                                    })
                                                                                                                                                                    @Html.ValidationMessageFor(x => x.SifreOnay)
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                                            <div class="row">
                                                                                                                                                                                <div class="col-sm-8">
                                                                                                                                                                                    <div class="checkbox">
                                                                                                                                                                                        @Html.CheckBoxFor(x => x.SozlesmeOnay, new
                                                                                                                                                                                        {
                                                                                                                                                                                            @checked = "",
                                                                                                                                                                                            @style = "width: 18px;height:18px;margin-left:0px"
                                                                                                                                                                                        })
                                                                                                                                                                                        <label style="margin-left: 10px;padding-left: 0px;margin-top: -20px;">
                                                                                                                                                                                            @Html.Raw($"<a class='btn btn-link text-danger' target='_blank' href='{@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Sozlesme")}'>Üyelik Sözleşmesi</a>Kabul Ediyorum")
                                                                                                                                                                                        </label>
                                                                                                                                                                                    </div>
                                                                                                                                                                                </div>
                                                                                                                                                                                <div class="col-sm-4 text-right">
                                                                                                                                                                                    <button type="submit" class="btn btn-success hidden-xs">Üye Ol</button>
                                                                                                                                                                                    <button type="submit" class="btn btn-success btn-block btn-lg visible-xs mt-lg">Üye Ol</button>
                                                                                                                                                                                </div>
                                                                                                                                                                            </div>}
                </div>
            </div>
            <p class="text-center" style="color: #080808;background-color: #c1b9b9;padding: 10px;border-radius: 5px;opacity: 0.9;font-size: 18px;">&copy; Copyright 2020. @Ad</p>
        </div>
    </section>}
<!-- end: page -->
@section LayoutScript{
    @if (Model.IslemMesaj.Visible && Model.IslemMesaj.Tip == TMS.View.Genel.IslemMesajTip.Basarili)
    {

    }
    else
    {
@Html.Partial("_MesajSistemi", Model.IslemMesaj)}
}
