﻿@model TMS.Core.Data.GenelAyar
@{
    string Ad = "Token Yönetim Sistemi | Üyelik";
    Layout = "~/Areas/Platform/Views/Shared/_Root.cshtml";
}
<div class="row">
    <div class="col-md-2">

    </div>
    <section class="panel col-md-8" style="margin:25px;">
        <div class="panel-heading">
            <h2>
                Üyelik Sözleşmesi
            </h2>
        </div>
        <div class="panel-body">
           @Model.Deger
        </div>
        <div class="panel-footer">
            <p class="text-center" style="color: #080808;background-color: #c1b9b9;padding: 10px;border-radius: 5px;opacity: 0.9;font-size: 18px;">&copy; Copyright 2020. @Ad</p>

        </div>
    </section>
    <div class="col-md-2">

    </div>
</div>
