﻿@model TMS.View.Genel.FileViewModel
@{
    ViewBag.Title = "Sayfalar";
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>Dosya Yönetimi</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Kullanici/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dosya Yönetimi</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="panel">
    <div id="elfinder"></div>
    </section>
</div>
@section LayoutScript{
    @{
        TMS.Panel.Web.Code.Security.CustomPrincipal Usr = (HttpContext.Current.User as TMS.Panel.Web.Code.Security.CustomPrincipal);
        @Html.Partial("_FilesForm", new TMS.View.Genel.FileViewModel() { Folder = @Usr.Folder, SubFolder = @Usr.SubFolder })
     }
}
