﻿@model List<TMS.View.Genel.UserBildirimListItem>
<section class="panel panel-danger">
    <header class="panel-heading panel-black">
        <h2 class="panel-title">Bildirimler</h2>
    </header>
    <div class="panel-body">
        @{
                if (Model.Count() > 0)
                {
                    int Adet = 1;
                    <table class="tblveri table-hover table table-responsive table-no-more table-bordered table-striped mb-none DtTable" id="@($"TblVeri{Guid.NewGuid().ToString()}")">
                        <thead>
                            <tr>
                                <td>
                                    #
                                </td>
                                <td>
                                    #
                                </td>
                                <th>
                                    Bildirim
                                </th>
                                <th>
                                    Zaman
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Bildirim in Model.OrderByDescending(x => x.UserBildirim.Tarih))
                            {
                                var Animation = "";
                                if (!Bildirim.UserBildirim.OkunmaDurum)
                                {
                                    Animation = "AnimationLink";
                                }
                                var bildirimTip = (TMS.View.Genel.BildirimTip)Bildirim.UserBildirim.Tip;
                                <tr>
                                    <td>
                                        @(Adet++)
                                    </td>
                                    <td>
                                        <center>
                                            @switch (bildirimTip)
                                            {
                                                case TMS.View.Genel.BildirimTip.Yok:<i class="fa fa-info" style="color:#1abc9c"></i>
                                                    break;
                                                case TMS.View.Genel.BildirimTip.Onay:<i class="fa fa-info" style="color:#2ecc71"></i>
                                                    break;
                                                case TMS.View.Genel.BildirimTip.Red:<i class="fa fa-info" style="color:#3498db"></i>
                                                    break;
                                                case TMS.View.Genel.BildirimTip.Sistem:<i class="fa fa-info" style="color:#9b59b6"></i>
                                                    break;
                                                case TMS.View.Genel.BildirimTip.OgretimElemani:<i class="fa fa-info" style="color:#d35400"></i>
                                                    break;
                                                case TMS.View.Genel.BildirimTip.Ogretmen:<i class="fa fa-info" style="color:#c0392b"></i>
                                                    break;
                                                case TMS.View.Genel.BildirimTip.OgretmenAdayi:<i class="fa fa-info" style="color:#7f8c8d"></i>
                                                    break;
                                                case TMS.View.Genel.BildirimTip.Alan_Uzmani:<i class="fa fa-info" style="color:#2c3e50"></i>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </center>
                                    </td>
                                    <td>
                                        <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(string.Format("~/Kullanici/UserBildirim/Goruntule/{0}",Bildirim.UserBildirim.No))">
                                            <span class="title @Animation">@Bildirim.UserBildirim.Ad</span>
                                            <span class="message truncate">
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        @Bildirim.UserBildirim.Tarih.ToString("g")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-warning">Kayıt Yok.</div>
                }
        }
    </div>
</section>
