﻿@model List<TMS.View.Genel.UserOneriListItem>
<section class="panel panel-danger">
    <header class="panel-heading panel-black">
        <h2 class="panel-title">Hatırlatma ve Öneriler</h2>
    </header>
    <div class="panel-body">
        @{
            if (Model.Count() > 0)
            {
                int Adet = 1;
                <table class="tblveri table-hover table table-responsive table-no-more table-bordered table-striped mb-none DtTable" id="@($"TblVeri{Guid.NewGuid().ToString()}")">
                    <thead>
                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                #
                            </td>
                            <th>
                                Öneri
                            </th>
                            <th>
                                Zaman
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            var Genel = Model.Where(x => x.Tip == TMS.View.Genel.UserOneriTip.Genel_Süreç).ToList();
                            var Kritik = Model.Where(x => x.Tip == TMS.View.Genel.UserOneriTip.Kritik_Günler).ToList();
                            var Onemli = Model.Where(x => x.Tip == TMS.View.Genel.UserOneriTip.Yaklaşan_Önemli_Günler).ToList();
                            List<TMS.View.Genel.UserOneriListItem> Liste = new List<TMS.View.Genel.UserOneriListItem>();
                            Liste.AddRange(Kritik);
                            Liste.AddRange(Onemli);
                            Liste.AddRange(Genel);
                            foreach (var Oneri in Model.OrderByDescending(x=>x.UserOneri.Tarih))
                            {
                                var Animation = "";
                                if (!Oneri.UserOneri.OkunmaDurum)
                                {
                                    Animation = "AnimationLink";
                                }


                                TMS.View.Genel.UserOneriTip OneriTip = new TMS.View.Genel.UserOneriTip();
                                OneriTip = (TMS.View.Genel.UserOneriTip)Oneri.UserOneri.Tip;
                                string Resim = "~/Content/images/ResimYok.png";
                                switch (OneriTip)
                                {
                                    case TMS.View.Genel.UserOneriTip.Genel_Süreç:
                                        Resim = "~/Content/images/Genel_Süreç.png";
                                        break;
                                    case TMS.View.Genel.UserOneriTip.Kritik_Günler:
                                        Resim = "~/Content/images/Kritik_Günler.png";
                                        break;
                                    case TMS.View.Genel.UserOneriTip.Yaklaşan_Önemli_Günler:
                                        Resim = "~/Content/images/Yaklaşan_Önemli_Günler.png";
                                        break;
                                    default:
                                        break;
                                }
                                    <tr>
                                        <td>
                                            @(Adet++)
                                        </td>
                                        <td>
                                            <img width="24" height="24" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl($"{Resim}?w=64")"
                                                 class="rounded img-responsive" alt="" />
                                        </td>
                                        <td>
                                            <a style="color:black; font-weight:600" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(string.Format("~/Kullanici/UserOneri/Goruntule/{0}",Oneri.UserOneri.No))">
                                                <span class="title @Animation">@Oneri.UserOneri.Icerik
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            @Oneri.UserOneri.Tarih.ToString("g")
                                        </td>
                                    </tr>
                                }

                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">Kayıt Yok.</div>
            }
        }
    </div>
</section>