﻿@model TMS.View.Kullanici.Anasayfa
@{
    ViewBag.Title = "Kullanici - Index";
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
}
<header class="page-header">
    <h2>Token Yönetim Sistemi</h2>
    <div class="right-wrapper pull-right">
    </div>
</header>
@using (Html.BeginForm("IslemYap", "Anasayfa", FormMethod.Post, null))
{
    <div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 mb-sm-12">
                        <section class="panel panel-info" id="panel-1" data-portlet-item>
                            <div class="panel-body">
                                <div class="col-md-2 col-xs-12 mb-sm-12">
                                    <section id="PnlTokenErisim" class="panel panel-featured-left panel-featured-tertiary">
                                        <div class="panel-body">
                                            <a data-toggle="tooltip" data-placement="top" title="@(Model.TokenSayisi==0?"Token Yok":$"{Model.TokenSayisi} tokenınız var, görüntülemek için tıklayınız.") "
                                               href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Kullanici/Token/Index")" class="text-muted text-uppercase">
                                                <div class="widget-summary">
                                                    <div class="widget-summary-col widget-summary-col-icon">
                                                        <div class="summary-icon bg-tertiary" style="background-color:#fdcb6e">
                                                            <i class="fas fa- fa-file-alt" aria-hidden="true" style="color: aliceblue;"></i>
                                                        </div>
                                                    </div>
                                                    <div class="widget-summary-col">
                                                        <div class="summary">
                                                            <div class="info">
                                                                <strong class="amount">@(Model.TokenSayisi > 0? Model.TokenSayisi.ToString():"") Tokenler</strong>
                                                            </div>
                                                        </div>
                                                        <div class="summary-footer">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-2 col-xs-12 mb-sm-12">
                                    <section id="PnlSiparisErisim" class="panel panel-featured-left panel-featured-tertiary">
                                        <div class="panel-body">
                                            <a data-toggle="tooltip" data-placement="top" title="@(Model.SiparisSayisi==0?"Siparis Yok":$"{Model.SiparisSayisi} tokenınız var, görüntülemek için tıklayınız.") "
                                               href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Kullanici/Siparis/Index")" class="text-muted text-uppercase">
                                                <div class="widget-summary">
                                                    <div class="widget-summary-col widget-summary-col-icon">
                                                        <div class="summary-icon bg-tertiary" style="background-color:#ff6a00">
                                                            <i class="fas fa-file-alt" aria-hidden="true" style="color: aliceblue;"></i>
                                                        </div>
                                                    </div>
                                                    <div class="widget-summary-col">
                                                        <div class="summary">
                                                            <div class="info">
                                                                <strong class="amount">@(Model.SiparisSayisi>0? Model.SiparisSayisi.ToString():"") Siparişler</strong>
                                                            </div>
                                                        </div>
                                                        <div class="summary-footer">

                                                        </div>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr />
    <div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section id="PnlBildirimlerErisim" class="panel panel-info"  data-portlet-item>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 mb-sm-12">
                        @Html.Partial("_Bildirimler", Model.UserBildirimListesi)
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr />
    <div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-2">
        <section id="PnlOnerilerErisim" class="panel panel-info"  data-portlet-item>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 mb-sm-12">
                        @Html.Partial("_Oneriler", Model.UserOneriListesi)
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr />
    <div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section id="PnlUserLogBilgileriErisim" class="panel panel-info"  data-portlet-item>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 mb-sm-12">
                        @Html.Partial("_UserLogBilgileri", Model.UserLogListesi)
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr />
}
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
}