﻿@model int
<section class="panel panel-featured-left panel-featured-secondary">
    <div class="panel-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-primary">
                    <i class="fas fa-users"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">Kullanıcı Sayısı</h4>
                    <div class="info">
                        <strong class="amount">@Model</strong>
                    </div>
                </div>
                <div class="summary-footer">
                    
                </div>
            </div>
        </div>
    </div>
</section>
