﻿@model AvmWas.Data.Users
<section class="panel panel-danger">
    <header class="panel-heading">
        <h2 class="panel-title">Profilim</h2>
    </header>
    <div class="panel-body">
        <div class="thumb-info mb-md">
            <img src="@AvmWas.Web.Araclar.HtmlHelpers.ResolveUrl((Model.Image == null ? "~/Content/images/ResimYok.png" : string.Format("{0}?w=225", Model.Image)))" class="rounded img-responsive" alt="@Model.FirstName @Model.LastName">
            <div class="thumb-info-title">
                <span class="thumb-info-inner">@string.Format("{0} {1}", Model.FirstName, Model.LastName)</span>
            </div>
        </div>
        <div class="widget-toggle-expand mb-md">
            <div class="widget-header">
                <h6>Kişisel Bilgiler</h6>
            </div>
            <div class="widget-content-collapsed">
                <div class="progress progress-xs light">
                </div>
            </div>
            <div class="widget-content-expanded">
                <ul class="simple-todo-list">
                    <li class="completed"></li>
                    <li>@Model.Email</li>
                </ul>
                <div class="clearfix">
                    <a class="text-uppercase text-muted pull-right" href="@AvmWas.Web.Araclar.HtmlHelpers.ResolveUrl(string.Format("~/Administrator/Users/Profil/{0}", Model.UserId))">Güncelle</a>
                </div>
            </div>
        </div>
    </div>
</section>
