﻿@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<header class="page-header">
    <h2>Giriş</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="~/Administrator/Anasayfa/Index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Giriş</span></li>
        </ol>
        @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
    </div>
</header>
@using (Html.BeginForm("Index", "Avm", FormMethod.Post, new { @id = "FrmIslemMain" }))
{
    @Html.Hidden("Belge")
    <div class="col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <header class="panel-heading portlet-handler clearfix">
                <div class="btn-group pull-right">
                    <a href="~/Administrator/Avm/Create" class="mb-xs mt-xs mr-xs btn btn-success"><i class="fa fa-plus"></i> Yeni</a>
                </div>
                <h2 class="panel-title">Avm listesi</h2>
            </header>
            <div class="panel-body">
                <div class="panel-body">
                    @{
                        AvmWas.View.Genel.DosyaSecim DosyaSecimAvm = new AvmWas.View.Genel.DosyaSecim();
                        DosyaSecimAvm.Deger ="";
                        DosyaSecimAvm.Baslik = "Belge";
                        DosyaSecimAvm.HedefKontrolId = "Belge";
                        DosyaSecimAvm.LabelClass = "col-md-1 MarginTop5";
                        DosyaSecimAvm.ControlClass = "col-md-6";
                        Html.RenderPartial("_DosyaSec", DosyaSecimAvm);
                    }

                    @{Html.RenderPartial("_EkranYonlendirme",
                    new AvmWas.View.Genel.EkranYonlendirme()
                    {
                        Url = AvmWas.Web.Araclar.HtmlHelpers.ResolveUrl("~/Administrator/Anasayfa/Index/"),
                        Mesaj = " Anasayfaya Yönlendiriliyorsunuz...",
                        Saniye = 100
                    });}
                </div>
            </div>
        </section>
    </div>
}
@section Administrator_LayoutScript{
    <script>
        (function ($) {
          

        }).apply(this, [jQuery]);
    </script>
}
