﻿@model AvmWas.View.Administrator.Anasayfa
@{
    ViewBag.Title = "Administrator - Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<header class="page-header">
    <h2>Giriş</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="~/Administrator/Anasayfa/Index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Giriş</span></li>
        </ol>
        @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
    </div>
</header>
@using (Html.BeginForm("IslemYap", "Anasayfa", FormMethod.Post, null))
{
    <div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 mb-sm-12">
                        @Html.Partial("_Kullanici", Model.User)
                    </div>
                    <div class="col-md-4 col-xs-12 mb-sm-12">
                        @Html.Partial("_AvmBilgilendirme", Model.AvmSayisi)
                        @Html.Partial("_SubeBilgilendirme", Model.SubeSayisi)
                        @Html.Partial("_IsYeriBilgilendirme", Model.IsYeriSayisi)
                    </div>
                    <div class="col-md-4 col-xs-12 mb-sm-12">
                        @Html.Partial("_Bildirimler", Model.UserBildirimListesi)
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr />
    <div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 mb-sm-12">
                        @Html.Partial("_UserLogBilgileri", Model.UserLogListesi)
                    </div>
                </div>
            </div>
        </section>
    </div>
}
@section Administrator_LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
}

