﻿@model List<TMS.View.Genel.UserBildirimListItem>
<section class="panel panel-danger">
    <header class="panel-heading">
        <h2 class="panel-title">Bildirimler</h2>
    </header>
    <div class="panel-body">
            @{if (Model.Count() > 0)
            {
                <div class="scrollable visible-slider" data-plugin-scrollable style="height:443px;">
                    <div class="scrollable-content">
                        <ul class="simple-user-list">
                            @foreach (var Bildirim in Model)
                            {
                                <li>
                                    <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(string.Format("~/Administrator/UserBildirim/Goruntule/{0}",Bildirim.UserBildirim.No))">
                                        <figure class="image rounded">
                                            <img src="~/Content/images/ResimYok.png?w=64" 
                                                 class="rounded img-responsive" alt="" />
                                        </figure>
                                        <span class="title">@Bildirim.UserBildirim.Ad</span>
                                        <span class="message truncate">
                           
                                        </span>
                                    </a>
                                    <div class="clearfix" ></div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning">Kayıt Yok.</div>
            }
        }
    </div>
</section>
