﻿<section class="panel panel-danger">
    <header class="panel-heading">
        <h2 class="panel-title">Online Transport Takibi</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <center>
                <div class="input-group input-search" style="padding-left:8px;padding-right:8px;padding-top:8px;padding-bottom:8px;width:50%;min-width:250px">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Araç ve Sürücü ..." style="border-radius:2px;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </center>
            <div id="map">

            </div>
        </div>
    </div>
</section>
@section LayoutScript{
    
}