﻿@model int
<section class="panel panel-featured-left panel-featured-secondary">
    <div class="panel-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-quartenary">
                    <i class="fas fa-users"></i>
                </div>
            </div>
            <div class="widget-summary-col">
                <div class="summary">
                    <h4 class="title">Grup Sayısı</h4>
                    <div class="info">
                        <strong class="amount">@Model</strong>
                    </div>
                </div>
                <div class="summary-footer">
                    <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Administrator/Surucu")" class="text-muted text-uppercase">Sürücüler</a>
                </div>
            </div>
        </div>
    </div>
</section>
