﻿@model List<TMS.Core.Data.Logs>
<section class="panel panel-danger">
    <header class="panel-heading">
        <h2 class="panel-title">Son Kullanıcı İşlemleri (20 İşlem)</h2>
    </header>
    <div class="panel-body">
        @{if (Model.Count() > 0)
            {
                TMS.Core.Data.Logs Log = new TMS.Core.Data.Logs();
                <table class="tblveri table table-responsive table-no-more table-bordered table-striped mb-none DtTable" id="TblVeri">
                        <thead>
                            <tr>
                                <th width="50px">Sıra No</th>
                                <th width="10%">
                                    @Html.LabelFor(x => Log.Tip)
                                </th>
                                <th width="50%">
                                    @Html.LabelFor(x => Log.Aciklama)
                                </th>
                                <th width="10%">
                                    @Html.LabelFor(x => Log.Date)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                @{
                                    int sayac = 1;
                                    foreach (var Aktif in Model)
                                    {
                                        <tr>
                                            <td width="5%" data-title="Sıra No">@(sayac++)</td>
                                            <td width="10%" data-title="Tip">@((TMS.View.Genel.LogTip)Aktif.Tip)</td>
                                            <td width="55%" data-title="Açıklama">@Aktif.Aciklama</td>
                                            <td width="10%" data-title="Tarih">@Aktif.Date</td>
                                        </tr>
                                    }
                                }
                        </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">Kayıt Yok.</div>
            }
        }
    </div>
</section>
