﻿@model TMS.View.Administrator.Anasayfa
@{
    ViewBag.Title = "Administrator - Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<header class="page-header">
    <h2>Giriş</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="~/Panel/Anasayfa/Index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Giriş</span></li>
        </ol>
        @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
    </div>
</header>
@using (Html.BeginForm("IslemYap", "Anasayfa", FormMethod.Post, null))
{
    <div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 mb-sm-12">
                        @Html.Partial("_Kullanici", Model.User)
                    </div>
                    @*<div class="col-md-4 col-xs-12 mb-sm-12">
                        @Html.Partial("_SurucuBilgilendirme", Model.SurucuSayisi)
                        @Html.Partial("_AracBilgilendirme", Model.AracSayisi)
                        @Html.Partial("_MusteriBilgilendirme", Model.MusteriSayisi)
                    </div>*@
                    <div class="col-md-8 col-xs-12 mb-sm-12">
                        @Html.Partial("_Bildirimler", Model.UserBildirimListesi)
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr />
    <div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 mb-sm-12">
                        @Html.Partial("_UserLogBilgileri", Model.UserLogListesi)
                    </div>
                </div>
            </div>
        </section>
    </div>
}
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
<script>
            var Map = null;
            function ModelOlustur() {
                var GoogleMap = {
                    Map: {
                        AktifKoordinat:
                        {
                            lat:0,
                            lng: 0,
                            alan: 20,
                        },
                        IzinDurum: false,
                        Olustur: function (Kontrol, lat, lng) {
                            MapKontrol = new GMaps({
                                div: '#' + Kontrol,
                                lat: lat,
                                lng: lng,
                                disableDefaultUI: true,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            });
                        },
                        DurumKontrolEt: function () {
                            var Nesne = this;
                            GMaps.geolocate({
                                success: function (position) {
                                    GoogleMap.Map.IzinDurum = 1;
                                    GoogleMap.Map.Koordinat.lat=position.coords.latitude;
                                    GoogleMap.Map.Koordinat.lng=position.coords.longitude;
                                    GoogleMap.Map.KoordinatAyarla(GoogleMap.Map.Koordinat.lat, GoogleMap.Map.Koordinat.lng);
                                    GoogleMap.Map.AktifKoordinat.lat = GoogleMap.Map.Koordinat.lat;
                                    GoogleMap.Map.AktifKoordinat.lng = GoogleMap.Map.Koordinat.lng;
                                    GoogleMap.Map.MarkerEkle(
                                        GoogleMap.Map.Koordinat.lat, GoogleMap.Map.Koordinat.lng,
                                        "Konumum",
                                        "<p>Buradasınız.</p>",
                                        "@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Content/Images/Map/Pin/taxi_map.png?h=42", false)",
                                        function () {
                                            GoogleMap.Map.ZoomAyarla(20);

                                        });

                                },
                                error: function (error) {
                                    GoogleMap.Map.IzinDurum(1);
                                },
                                not_supported: function () {
                                    GoogleMap.Map.MapIzinDurum(2);
                                }
                            });
                        },
                        ZoomAyarla: function (Zoom) {
                            MapKontrol.setZoom(Zoom);
                        },
                        ZoomIn: function () {
                            MapKontrol.zoomIn();
                        },
                        ZoomOut: function () {
                            MapKontrol.zoomOut();
                        },
                        GetCenter: function (Zoom) {
                            MapKontrol.getCenter(Zoom);
                        },
                        fitZoom: function () {
                            MapKontrol.fitZoom();
                        },
                        Koordinat: {
                            lat: 0,
                            lng: 0,
                        },
                        KoordinatAyarla: function (lat, lng) {
                            MapKontrol.setCenter(lat, lng);
                        },
                        hideContextMenu: function () {
                            MapKontrol.hideContextMenu();
                        },
                        MarkerTemizle: function () {
                            MapKontrol.clearOverlays();
                        },
                        MarkerEkle: function (lat, lng, Baslik, Aciklama, Icon, Olay) {
                            var str = Aciklama;
                            var res = str.split("~");
                            var SubeAd = res[0];
                            var SubeAdres = res[1];
                            var TelefonNo = res[2];
                            var HizmetAd = res[3];
                            var resim = res[4];
                            var image = {
                                url: Icon,
                                size: new google.maps.Size(48, 48),
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(0, 48)
                            };
                            MapKontrol.addMarker({
                                draggable: true,
                                animation: google.maps.Animation.DROP,
                                lat: lat,
                                lng: lng,
                                title: Baslik,
                                icon: image,
                                infoWindow: {


                                    content: "<div class='container-fluid well span6' >\
                        <div class='row-fluid' >\
                            <div class='span2' >\
                        <img src='Theme/Images/Map/PinIcon/" + resim + ".png' class='img-circle'>\
                            <span><b>"+ HizmetAd + "</b></span>\
                        </div >     <hr>   <div class='span8' >\
                            <h6><i class='fa fa-building' aria-hidden='true'></i><b> Şube Adı:</b> "+ SubeAd + " </h6>\
                            <h6 >  <i class='fa fa-map-marker' aria-hidden='true'></i>\<b> Adres:</b> "+ SubeAdres + " </h6 >\
                            <h6> <span class='glyphicon glyphicon-earphone'></span>\<b> Telefon: </b>"+ TelefonNo + "</h6>\
                        </div>\
                            <hr>\
                            <div class='span2' >\
                            <div class='btn-group' >\
                                <a class='btn dropdown-toggle btn-info' data- toggle='dropdown' href= '#' >\
                        Favorilerime Ekle\
                                <span class='glyphicon glyphicon-star'></span>\
                                </a >\
                            </div>\
                        </div>\
                            </div >\
                        </div >"



                                    //  content: Aciklama

                                },
                                click: function (e) {
                                    Olay();

                                }

                            });
                        },
                    }
                }
                return GoogleMap;
            }
            var GoogleMap = ModelOlustur();
</script>
    <script>
            var Map = null;
            function ModelOlustur() {
                var GoogleMap = {
                    Map: {
                        AktifKoordinat:
                        {
                            lat:0,
                            lng: 0,
                            alan: 20,
                        },
                        IzinDurum: false,
                        Olustur: function (Kontrol, lat, lng) {
                            MapKontrol = new GMaps({
                                div: '#' + Kontrol,
                                lat: lat,
                                lng: lng,
                                disableDefaultUI: true,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            });
                        },
                        DurumKontrolEt: function () {
                            var Nesne = this;
                            GMaps.geolocate({
                                success: function (position) {
                                    GoogleMap.Map.IzinDurum = 1;
                                    GoogleMap.Map.Koordinat.lat=position.coords.latitude;
                                    GoogleMap.Map.Koordinat.lng=position.coords.longitude;
                                    GoogleMap.Map.KoordinatAyarla(GoogleMap.Map.Koordinat.lat, GoogleMap.Map.Koordinat.lng);
                                    GoogleMap.Map.AktifKoordinat.lat = GoogleMap.Map.Koordinat.lat;
                                    GoogleMap.Map.AktifKoordinat.lng = GoogleMap.Map.Koordinat.lng;
                                    GoogleMap.Map.MarkerEkle(
                                        GoogleMap.Map.Koordinat.lat, GoogleMap.Map.Koordinat.lng,
                                        "Konumum",
                                        "<p>Buradasınız.</p>",
                                        "@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Content/Images/Map/Pin/taxi_map.png?h=42", false)",
                                        function () {
                                            GoogleMap.Map.ZoomAyarla(20);

                                        });

                                },
                                error: function (error) {
                                    GoogleMap.Map.IzinDurum(1);
                                },
                                not_supported: function () {
                                    GoogleMap.Map.MapIzinDurum(2);
                                }
                            });
                        },
                        ZoomAyarla: function (Zoom) {
                            MapKontrol.setZoom(Zoom);
                        },
                        ZoomIn: function () {
                            MapKontrol.zoomIn();
                        },
                        ZoomOut: function () {
                            MapKontrol.zoomOut();
                        },
                        GetCenter: function (Zoom) {
                            MapKontrol.getCenter(Zoom);
                        },
                        fitZoom: function () {
                            MapKontrol.fitZoom();
                        },
                        Koordinat: {
                            lat: 0,
                            lng: 0,
                        },
                        KoordinatAyarla: function (lat, lng) {
                            MapKontrol.setCenter(lat, lng);
                        },
                        hideContextMenu: function () {
                            MapKontrol.hideContextMenu();
                        },
                        MarkerTemizle: function () {
                            MapKontrol.clearOverlays();
                        },
                        MarkerEkle: function (lat, lng, Baslik, Aciklama, Icon, Olay) {
                            var str = Aciklama;
                            var res = str.split("~");
                            var SubeAd = res[0];
                            var SubeAdres = res[1];
                            var TelefonNo = res[2];
                            var HizmetAd = res[3];
                            var resim = res[4];
                            var image = {
                                url: Icon,
                                size: new google.maps.Size(48, 48),
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(0, 48)
                            };
                            MapKontrol.addMarker({
                                draggable: true,
                                animation: google.maps.Animation.DROP,
                                lat: lat,
                                lng: lng,
                                title: Baslik,
                                icon: image,
                                infoWindow: {


                                    content: "<div class='container-fluid well span6' >\
                        <div class='row-fluid' >\
                            <div class='span2' >\
                        <img src='Theme/Images/Map/PinIcon/" + resim + ".png' class='img-circle'>\
                            <span><b>"+ HizmetAd + "</b></span>\
                        </div >     <hr>   <div class='span8' >\
                            <h6><i class='fa fa-building' aria-hidden='true'></i><b> Şube Adı:</b> "+ SubeAd + " </h6>\
                            <h6 >  <i class='fa fa-map-marker' aria-hidden='true'></i>\<b> Adres:</b> "+ SubeAdres + " </h6 >\
                            <h6> <span class='glyphicon glyphicon-earphone'></span>\<b> Telefon: </b>"+ TelefonNo + "</h6>\
                        </div>\
                            <hr>\
                            <div class='span2' >\
                            <div class='btn-group' >\
                                <a class='btn dropdown-toggle btn-info' data- toggle='dropdown' href= '#' >\
                        Favorilerime Ekle\
                                <span class='glyphicon glyphicon-star'></span>\
                                </a >\
                            </div>\
                        </div>\
                            </div >\
                        </div >"



                                    //  content: Aciklama

                                },
                                click: function (e) {
                                    Olay();

                                }

                            });
                        },
                    }
                }
                return GoogleMap;
            }
            var GoogleMap = ModelOlustur();
        </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp-c5a4KWxMvrGe8IP9rVhROo8EP5VLHQ&language=tr"></script>
    <script>
        $(function ($) {
            var WindowW = windows = $(window).width() - 10;
            var WindowH = windows = $(window).height() - 135;
            $('#map').attr("style", "height:" + WindowH + "px;background-color:#ff6a00");
            $('#PnlDataKontrolFavorilerim').attr("style", "height:" + (WindowH + 100) + "px;");
            WindowH = WindowH + 150;
            $('#map').attr("style", "height:" + WindowH + "px;background-color:#ff6a00");
        });
    </script>
    <script>
        $(document).ready(function () {
            GoogleMap.Map.Olustur('map', 51.469526, 6.637524);
            GoogleMap.Map.ZoomAyarla(15);
            GoogleMap.Map.DurumKontrolEt();
            GoogleMap.Map.MarkerEkle(51.469526, 6.637524, " Araç 1", "Sürücü Adı", "@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Content/Images/Map/Pin/taxi_map.png?h=42", false)", function () {
                GoogleMap.Map.ZoomAyarla(20);
            })
        });
    </script>
}

