﻿@{
    ViewBag.Title = "Administrator - Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<header class="page-header">
    <h2>Giriş</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="~/Panel/Anasayfa/Index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Giriş</span></li>
        </ol>
        @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
    </div>
</header>
@using (Html.BeginForm("IslemYap", "Anasayfa", FormMethod.Post, null))
{
<div class="row col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
    <section class="panel panel-info" id="panel-1" data-portlet-item>
        <div class="panel-body">
            <div class="panel-body">
                <div class="col-md-12 col-xs-12 mb-sm-12">
                    <p class="h3 text-danger"> Bu Sayfa hazırlanıyor...</p>
                </div>
            </div>
        </div>
    </section>
</div>
}
@section LayoutScript{

}

