﻿@model TMS.View.Genel.ChangePassword
@using TMS.Core.Lib;
@{
    ViewBag.Title = "Kullanıcı Şifre Değiştirme İşlemleri";
    if (HttpContext.Current.Session["ChangePasswordLayout"] != null)
    {
        Layout = HttpContext.Current.Session["ChangePasswordLayout"].ToString();
    }
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header">
        <h2>Şifre Değiştirme İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Yonetim/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Şifre İşlemleri</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
</div>
<div class="clearfix">

</div>
<div class="center-block col-md-6 col-sm-12 col-xs-12" style="float:none">
    <section class="panel">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            TMS.Panel.Web.Code.Security.CustomPrincipal Usr = (HttpContext.Current.User as TMS.Panel.Web.Code.Security.CustomPrincipal);
            @Html.AntiForgeryToken()
            <header class="panel-heading">
                <div style="margin-top:-3px;margin-bottom:25px;">
                    <div id="ToolBar" class="input-group pull-right col-md-2">
                        <input class="btn btn-info btn-sm pull-right" style="margin:2px" type="submit" name="BtnIslem" value="İptal Et" />
                        <input class="btn btn-danger btn-sm pull-right" style="margin:2px" type="submit" name="BtnIslem" value="Kaydet" />
                    </div>
                </div>
            </header>
            <div class="panel-body" style="padding:50px">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.Sifre)
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", @type = "Password" })
                            @Html.ValidationMessageFor(x => x.Sifre)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.NewPassword)
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @type = "Password" })
                            @Html.ValidationMessageFor(x => x.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.ConfirmPassword)
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "Password" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>

@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}



