﻿@model TMS.View.Genel.GirisView
@{
    string Ad = "Token Yönetim Sistemi";
      Layout = "~/Areas/Platform/Views/Shared/_Root.cshtml";
}
<div class="full">
    @using (Html.BeginForm("Index", "Account", FormMethod.Post, null))
    {
        <section class="body-sign">

            <div class="center-sign">
                @if (Model.GirisDurum)
                {
            <div class="panel" style="opacity:0.8">
                <div class="panel-body" style="min-height:100px">
                    @{Html.RenderPartial("_EkranYonlendirme",
                            new TMS.View.Genel.EkranYonlendirme()
                            {
                                Url = TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Model.ReturnUrl),
                                Mesaj = " Yönlendiriliyorsunuz",
                                Saniye = 2
                            });}
                </div>
            </div> }
                            else
                            {
            <a href="/" class="logo pull-left">
                <img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Logo.Png?h=75")" height="75" alt="Giriş" />
            </a>
                                <div class="panel panel-sign">
                                    <div class="panel-title-sign mt-xl text-right">
                                        <a href="#" id="BtnNormalGiris">
                                            <h2 id="BtnNormalGirisTxt" class="text-danger title text-uppercase text-bold m-none">
                                                <i class="fa fa-user mr-xs"></i>Giriş
                                            </h2>
                                        </a>
                                    </div>
                                    <div class="panel-body" style="min-height:295px">
                                        @Html.HiddenFor(x => x.ReturnUrl)
                                        <div id="FrmGiris">
                                            <div class="form-group mb-lg">
                                                @Html.LabelFor(x => x.LoginView.Username)
                                                <div class="input-group input-group-icon">
                                                    @Html.TextBoxFor(x => x.LoginView.Username, new { @class = "form-control input-lg" })
                                                    <span class="input-group-addon">
                                                        <span class="icon icon-lg">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.LoginView.Username)
                                            </div>
                                            <div class="form-group mb-lg">
                                                @Html.LabelFor(x => x.LoginView.Password)
                                                <div class="input-group input-group-icon">
                                                    @Html.TextBoxFor(x => x.LoginView.Password, new { @class = "form-control input-lg", @type = "password" })
                                                    <span class="input-group-addon">
                                                        <span class="icon icon-lg">
                                                            <i class="fa fa-lock"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.LoginView.Password)
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="checkbox-custom checkbox-default">

                                                    </div>
                                                </div>
                                                <div class="col-sm-4 text-right">
                                                    <button type="submit" class="btn btn-primary hidden-xs btn-danger" style="margin-right:10px">Giriş Yap</button>
                                                    <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg btn-danger">Giriş Yap</button>
                                                </div>
                                            </div>
                                            @*<span class="mt-lg mb-lg line-thru text-center text-uppercase">
                                                <span>-------------------------</span>
                                            </span>
                                            <div class="mb-xs text-center">
                                                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/?#UyeOl")" class="btn btn-success mb-md ml-xs mr-xs">Üye Ol</a>
                                                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Davet")" class="btn btn-success mb-md ml-xs mr-xs">Davet Et</a>
                                                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/SifremiUnuttum")" class="btn btn-info mb-md ml-xs mr-xs">Şifremi Unuttum</a>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center" style="color: #c1b9b9;background-color: #080808;padding: 10px;border-radius: 5px;opacity: 0.9;font-size: 15px;">@Ad</p>
                                <p class="text-center" style="color: #c1b9b9;background-color: #080808;padding: 10px;border-radius: 5px;opacity: 0.9;font-size: 15px;">&copy; Copyright 2021</p>                }
            </div>
        </section>
    }
</div>
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script>
            $('.full').fullClip({
                images: [
                    '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Bg/bg14.jpg")',
                    '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Bg/bg1.jpg")',
                    '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Bg/bg2.jpg")',
                    '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Bg/bg3.jpg")',
                    '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Bg/bg7.jpg")',
                    '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Bg/bg8.jpg")',
                    '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/Bg/bg13.jpg")',
                ],
                transitionTime: 1000,
                wait: 5000
            });
    </script>
}
