﻿@model TMS.View.Kullanici.Profil
@using TMS.Core.Lib;
@{
    ViewBag.Title = "Profil";
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header">
        <h2>Profil Güncelleme İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Kullanici/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Profil İşlemleri</span></li>
            </ol>
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="panel">
        @using (Html.BeginForm("Profil", "Kullanici", FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "FrmIslem" }))
        {
            TMS.Panel.Web.Code.Security.CustomPrincipal Usr = (HttpContext.Current.User as TMS.Panel.Web.Code.Security.CustomPrincipal);
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.AktifKayit.No)
            @Html.HiddenFor(x => x.AktifKayit.Resim)
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9 col-xs-12 ">
                        <div class="form-group">
                            <div class="col-md-4 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Ad) <span class="required">*</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.AktifKayit.Ad, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.AktifKayit.Ad)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Soyad) <span class="required">*</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.AktifKayit.Soyad, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.AktifKayit.Soyad)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Telefon) <span class="required">*</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.AktifKayit.Telefon, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.AktifKayit.Telefon)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Resim)
                            </div>
                            <div class="col-md-4">
                                <img style="border-top-left-radius:5px;border-top-right-radius:5px;" id="ImgRsmAktifKayit_Resim" width="200" height="200"
                                     src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl(string.Format("{0}?h=200&w=200&mode=max&scale=both",Model.AktifKayit.Resim),false)" />
                                @{
                                    TMS.View.Genel.DosyaSecim DosyaFotoSecim = new TMS.View.Genel.DosyaSecim();
                                    DosyaFotoSecim.Deger = Model.AktifKayit.Resim;
                                    DosyaFotoSecim.Baslik = "Dosya";
                                    DosyaFotoSecim.StateKontrolId = string.Format("ImgRsm{0}", Html.NameFor(x => x.AktifKayit.Resim).ToString().Replace(".", "_"));
                                    DosyaFotoSecim.HedefKontrolId = "AktifKayit_Resim";
                                    DosyaFotoSecim.LabelClass = "col-md-1 MarginTop5";
                                    DosyaFotoSecim.ControlClass = "col-md-6";
                                    Html.RenderPartial("_FotoSecim", DosyaFotoSecim);
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="panel-footer " id="PnlDegerlendirmeAraclar">
                <div class="form-group col-md-9 col-xs-12 ">
                    <div class="col-md-8  MarginTop5 col-sm-12">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="pull-right">
                            <span class="btn btn-success btn-sm" id="btn-degerlendirme-cevap-kaydet" style="margin-left:5px;">
                                <i class="fa fa-save"></i>
                                <input type="submit" class="tlbtn" name="BtnIslem" value="Kaydet" />
                            </span>
                            <span class="btn btn-danger btn-sm" id="btn-degerlendirme-cevap-iptalet" style="margin-left:5px;">
                                <i class="fa fa-close"></i>
                                <input type="submit" class="tlbtn" name="BtnIslem" value="İptal Et" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </footer>
        }
    </section>
</div>
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}