﻿@model Exception
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata</title>
</head>
<body>
    <div>
        <h3>Sanırım Hata Oldu :)</h3>
        @if (Model != null)
        {
            @Model.InnerException
        }
        else
        {
            <p>Bir hata oluştu..!</p>
        }
    </div>
</body>
</html>