﻿@model TMS.View.Administrator.Kullanici
@using TMS.Core.Lib;
@using TMS.Core.Lib;
@using TMS.Core.Service;
@using TMS.Core.Data;
@using TMS.View;

@{ ViewBag.Title = "Kullanıcı";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    TMS.Panel.Web.Code.Security.CustomPrincipal Usr = (HttpContext.Current.User as TMS.Panel.Web.Code.Security.CustomPrincipal);
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header">
        <h2>Kullanıcı Güncelleme İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Administrator/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Kullanıcı İşlemleri</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="panel">
        @using (Html.BeginForm("Edit", "Kullanici", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.AktifKayit.No)
            <header class="panel-heading">
                <div style="margin-top:-3px;margin-bottom:25px;">
                    <div class="input-group pull-left col-md-10">
                        <a href="~/Administrator/Kullanici/Index" class="btn btn-primary btn-sm"><i class="fa fa-backward"></i> Tüm Kullanıcıleri</a>
                    </div>
                    <div id="ToolBar" class="input-group pull-right col-md-2">
                        <input class="btn btn-danger btn-sm pull-right" style="margin:2px" type="submit" name="BtnIslem" value="Kaydet" />
                        <input class="btn btn-info btn-sm pull-right" style="margin:2px" type="submit" name="BtnIslem" value="İptal Et" />
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-2 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Ad)
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.AktifKayit.Ad, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.AktifKayit.Ad)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Soyad)
                            </div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(x => x.AktifKayit.Soyad, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.AktifKayit.Soyad)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Mail)
                            </div>
                            <div class="col-md-6">
                                @Html.TextAreaFor(x => x.AktifKayit.Mail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.AktifKayit.Mail)
                            </div>
                        </div>
                    </div>
                </div>
            </div>}
    </section>
</div>
@section LayoutScript
{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script type="text/javascript">
        $(document).ready
            (

            );
    </script>
}
