﻿@model TMS.View.Administrator.Kullanici
@using TMS.Core.Lib;
@{ ViewBag.Title = "Kullanıcı Listesi";
                Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml"; }
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>Kullanıcı İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Administrator/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Kullanıcı İşlemleri</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="panel">
        @using (Html.BeginForm("Index", "Kullanici", FormMethod.Post, new { @id = "FrmIslemMain" }))
        {
            var TblKullaniciKey= $"TblVeri{ Guid.NewGuid().ToString()}";
<header class="panel-heading">
    <div class="btn-toolbar pull-left">
        <div class="btn-group">
            <h5>Kullanıcı Listesi</h5>
        </div>
    </div>
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a href="~/Administrator/Kullanici/Create" class="btn btn-info btn-sm pull-right"><i class="fa fa-plus"></i> Yeni</a>
        </div>
    </div>
    <div class="clearfix"></div>
</header>
                <div class="panel-body">
                    @{if (Model.KullaniciListesi.Count() > 0)
                        {
        <table class="tblveri table table-responsive table-no-more table-bordered table-striped mb-none DtTable" id="@TblKullaniciKey">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-4">@Html.LabelFor(x => x.AktifKayit.Ad)</th>
                    <th class="col-md-2">@Html.LabelFor(x => x.AktifKayit.Soyad)</th>
                    <th class="col-md-2">@Html.LabelFor(x => x.AktifKayit.Mail)</th>
                    <th class="col-md-2">@Html.LabelFor(x => x.AktifKayit.Tarih)</th>
                    <th class="col-md-1">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @{ int sayac = 1;
                    foreach (var Aktif in Model.KullaniciListesi)
                    {
                                <tr>
                                    <td>
                                        <img class="img-circle" width="48" height="48" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl($"{Aktif.Kullanici.Resim}?w=48")" />
                                    </td>
                                    <td class="col-md-1">@Aktif.Kullanici.Ad</td>
                                    <td class="col-md-2">@Aktif.Kullanici.Soyad</td>
                                    <td class="col-md-2">@Aktif.Kullanici.Mail </td>
                                    <td class="col-md-2">@Aktif.Kullanici.Tarih.ToString("dd MMMM yyyy")</td>
                                    <td style="width:200px" data-title="İşlemler">
                                        <a href="~/Administrator/Kullanici/Edit/@Aktif.Kullanici.No" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                        <a href="~/Administrator/Kullanici/Delete/@Aktif.Kullanici.No" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                                }
                    }
            </tbody>
        </table> }
                                else
{
        <div class="alert alert-warning">Kayıt Yok.</div> }
                    }
                </div>
                                       }
    </section>
</div>
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
}
