﻿@model TMS.View.Genel.UserBildirim
@{
    ViewBag.Title = "Administrator - "+Model.AktifKayit.Ad;
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header">
        <h2>@ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Administrator/AnaSoru/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="~/Administrator/UserBildirim/Index">
                        <i class="fa fa-envelope-o"></i>
                        Tüm Bildirimler
                    </a>
                </li>
                <li><span>Bildirim İşlemleri</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
    <div class="col-md-12 col-sm-12 col-xs-12">
     <section class="panel">
         <header class="panel-heading">
             <div class="btn-group pull-right">

             </div>
             <div class="btn-group pull-left">
                 <table>
                     <tr>
                         <td>
                             <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Administrator/UserBildirim/Index")"
                                class="mb-xs mt-xs mr-xs btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Geri</a>
                         </td>
                         <td>
                             <h2 class="panel-title">Bildirim Görüntüleme</h2>
                         </td>
                     </tr>
                 </table>
             </div>
         </header>
        <div class="panel-body">
            @Html.Raw(Model.AktifKayit.Icerik)
        </div>
    </section>
</div>
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script type="text/javascript">
        $(document).ready(function ()
        {
        });
    </script>
}

