﻿@model TMS.View.Genel.DosyaSecim
@using TMS.View;
@using TMS.Core.Lib;
@using System.Collections.Generic;
@{
    string Key = Guid.NewGuid().ToString();
    <div class="form-group" id="PnlDosyaYukle">
        @Html.Hidden(Model.HedefKontrolId.Replace("_", "."), Model.Deger)
        <div class="@Model.LabelClass">
            <label>@Model.Baslik</label>
        </div>
        <div class="@Model.ControlClass">
            <table>
                <tr>
                    <td><input data-hedefprocessbarkontrol="PrgBr_@Key" type="file" id="FlDosya" data-onizeme="FlDosyaIslem_@Model.HedefKontrolId" data-hedef="@Model.HedefKontrolId" class="filestyle DosyaSec" data-placeholder="No file" data-btnClass="btn-danger" data-text="@(string.IsNullOrEmpty(Model.Deger)?"Yükle":"Yeniden Yükle")"></td>
                    <td>
                    <a class="btn btn-danger" target="_blank" id="FlDosyaIslem_@Model.HedefKontrolId" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Model.Deger)">
                        <i class="fa fa-eye"></i> Görüntüle</a></td>
                </tr>
                <tr>
                    <div class="progress dosyasecprogressbar">
                        <div id="PrgBr_@Key" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </tr>
            </table>

        </div>
        <span class="field-validation-valid" data-valmsg-for="@Model.HedefKontrolId.Replace("_", ".")" data-valmsg-replace="true"></span>

    </div>

}
@section LayoutScript{
    <script type="text/javascript">
        $(function ()
        {
           
        });
    </script>
}
