﻿@model TMS.View.Genel.DosyaSecim
@using TMS.View;
@using TMS.Core.Lib;
@using System.Collections.Generic;
@{
    <div class="form-group" id="PnlDosyaYukle">
        @Html.Hidden(Model.HedefKontrolId.Replace("_", "."), Model.Deger)
        <input  type="file" id="FlDosya" data-onizeme="@Model.StateKontrolId" data-hedef="@Model.HedefKontrolId" class="fileInput filestyle DosyaSec" data-input="false" data-placeholder="No file" data-btnClass="btn-danger" data-text="@(string.IsNullOrEmpty(Model.Deger)?"Yükle":"Yeniden Yükle")">
    </div>
}
@section LayoutScript{
    <script type="text/javascript">
        $(function ()
        {
        });
    </script>
}
