﻿<div class="header-right">
    @if (!string.IsNullOrEmpty(ViewBag.PageGuide))
    {
        <div id="userbox" class="userbox">
            <a href="#" role="button" class="btn-link  text-muted text-uppercase btnPageGuide"
               data-toggle="tooltip" data-placement="top">
                <figure class="profile-picture" style="margin-top: 5px;">
                    <i class="fas fa-2x fa-question-circle" style="font-size: 35px;"></i>
                </figure>
            </a>
        </div>
    }
    <div id="userbox" class="userbox">
        @{ TMS.Panel.Web.Code.Security.CustomPrincipal Usr = (HttpContext.Current.User as TMS.Panel.Web.Code.Security.CustomPrincipal);
            <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown">
                    <figure class="profile-picture">
                        <img src="@((Usr.Image == "" || Usr.Image==null) ? TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/images/fotoyok.Png"):TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Usr.Image))"
                             alt="@Usr.UserName"
                             class="img-circle" data-lock-picture="@((Usr.Image == "" || Usr.Image==null) ?TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Kullanici/images/!logged-user.jpg"):TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Usr.Image))" />
                    </figure>
                    <div class="profile-info" data-lock-name="@string.Format("{0} {1}", Usr.FirstName, Usr.LastName)" data-lock-email="@string.Format("{0}",Usr.UserName)">
                        <span class="name">@string.Format("{0} {1}", Usr.FirstName, Usr.LastName)</span>
                        <span class="role">@(Usr.roles.Count() > 0 ? Usr.roles[0].ToString() : "")</span>
                    </div>
                    <i class="fa custom-caret"></i>
                </a>
                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        <li class="divider"></li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Kullanici/Kullanici/Profil")">
                                <i class="fas fa-2x fa-user"></i> Hesap Ayarları
                            </a>
                        </li>
                        @*<li>
                            <a role="menuitem" tabindex="-1" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Kullanici/Ayarlar/Donem")">
                                <i class="fas fa-2x fa-calendar-alt"></i> Dönem İşlemleri
                            </a>
                        </li>*@
                        <li>
                            <a role="menuitem" tabindex="-1" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Kullanici/UserBildirim/Index")">
                                <i class="fas fa-2x fa-comments"></i> Mesajlar
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="" role="menuitem" tabindex="-1" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/platform/account/cikis")"><i class=" fa fa-2x fa-power-off"></i> Çıkış Yap</a>
                        </li>
                    </ul>
                </div>
            </div> }
    </div>
</div>
