﻿<!DOCTYPE html>
<html class="fixed header-dark js flexbox flexboxlegacy no-touch csstransforms csstransforms3d no-overflowscrolling no-mobile-device custom-scroll sidebar-left-collapsed">
<head>
    <!-- Basic -->
    @Html.Partial("~/Views/Shared/_GenelHeaderBilgilendirme.cshtml")
    @Html.Partial("~/Views/Shared/_favicon.cshtml")
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    @Styles.Render("~/Kullanici.Vendor/css")
    @Styles.Render("~/Kullanici.CustomVendor/css")
    @Styles.Render("~/Kullanici.Theme/css")
    @Styles.Render("~/Kullanici.CustomTheme/css")
    @Styles.Render("~/Kullanici.elfinder/css")
    @RenderSection("LayoutRaporStyle", required: false)
    @Scripts.Render("~/Kullanici.jquery/js")
    @RenderSection("LayoutRaporScript", required: false)
    @Scripts.Render("~/Kullanici.modernizr/js")
<link href="~/Areas/Kullanici/Theme/Default/vendor/jquery-ui/v1.11.4/jquery-ui.css" rel="stylesheet" />
<script src="~/Areas/Kullanici/Theme/Default/vendor/jquery-ui/v1.11.4/jquery-ui.js"></script>
</head>
<body>
    @*<div class="se-pre-con"></div>*@
    <section class="body">
        <header class="header">
            <div class="logo-container">
                @{ string Link = "";
                                Link = "~/Kullanici/Anasayfa/Index";
                                Link = TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Link);
                    <a href="@Link" class="logo">
                        <img class="visible-md visible-lg" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/logo.png")" height="58" alt="Kullanıcı Paneli" />
                        <img class="visible-xs" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/logo.png?w=250")" height="45" alt="Kullanıcı Paneli" />
                    </a> }
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
            @Html.Partial("~/Areas/Kullanici/Views/Shared/_KullaniciPanel.cshtml")
        </header>
        <!-- end: header -->
        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @Html.Partial("~/Areas/Kullanici/Views/Shared/_Menu.cshtml")
            <!-- end: sidebar -->
            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="sidebar-right-wrapper">
                        <div class="sidebar-widget widget-calendar">
                            <h6>Görevler</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>
                            <span>
                                Görev Yok
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    @Scripts.Render("~/Kullanici.Vendor/js")
    @Scripts.Render("~/Kullanici.CustomVendor/js")
    @Scripts.Render("~/Kullanici.theme/js")
    @Scripts.Render("~/Kullanici.theme_init/js")
    @*@Scripts.Render("~/Kullanici.SpecificPage/js")*@
    @Scripts.Render("~/Kullanici.customtheme/js")
    @Scripts.Render("~/Kullanici.GoogleMap/js")
    @RenderSection("LayoutScript", required: false)
    @Scripts.Render("~/Kullanici.elfinder/js")
    @Html.Partial("~/Views/Shared/_Analistik.cshtml")
    @Html.Partial("~/Views/Shared/_Zoopim.cshtml")
    @Html.Partial("~/Areas/Kullanici/Views/Shared/_PartialModal.cshtml")
    <div id="PnlPencere" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
    @*<script>
    function BildirimKontrolEt()
        {
            //console.log('Başladım');
            var data = {};
             $.ajax({
               url: '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("/Kullanici/Base/BildirimKontrolEt")',
               dataType: 'json',
               type: 'POST',
               data: data,
                 success: function (result) {
                   if (result.Durum)
                   {
                       if (result.Deger > 0)
                       {
                           new PNotify({
                               title: result.Baslik,
                               text: result.Mesaj,
                               shadow: true,
                               type: 'success'
                           });
                       }
                   }
                   else {
                       new PNotify({
                           title: result.Baslik,
                           text: result.Mesaj,
                           shadow: true,
                           type: 'error'
                       });
                       return false;
                   }
               }
             });
            setTimeout(BildirimKontrolEt, 60000);
        }
        setTimeout(BildirimKontrolEt, 60000);
    </script>*@
    @*@if (!string.IsNullOrEmpty(ViewBag.PageGuide))
    {
       <script src="@ViewBag.PageGuide"></script>
       <script>
           $(document).on("click", ".btnPageGuide", function (event)
           {
               tour.restart();
           });
       </script>
    }*@
</body>
</html>
