﻿<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            İşlemler
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation" style="color:antiquewhite;">
                <ul class="nav nav-main">
                    <li>
                        <a href="~/Kullanici/Anasayfa/Index">
                            <i class="fa fa-home" aria-hidden="true" style="color: aliceblue;"></i>
                            <span>Anasayfa</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fas fa-file-alt" aria-hidden="true" style="        color: #fdcb6e;"></i>
                            <span>Token İşlemleri</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="~/Kullanici/Token/Create">
                                    <i class="fas fa-plus" aria-hidden="true" style="color: #fdcb6e"></i>
                                    <span>Token Oluştur</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Kullanici/Token/">
                                    <i class="fas fa-file-alt" aria-hidden="true" style="color: #fdcb6e"></i>
                                    <span>Tokenlar</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fas fa-file-alt" aria-hidden="true" style="        color: #fdcb6e;"></i>
                            <span>Sipariş İşlemleri</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="~/Kullanici/Siparis/Create">
                                    <i class="fas fa-plus" aria-hidden="true" style="color: #fdcb6e"></i>
                                    <span>Sipariş Oluştur</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Kullanici/Siparis/">
                                    <i class="fas fa-cart-arrow-down" aria-hidden="true" style="color: #fdcb6e"></i>
                                    <span>Siparişler</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>