﻿<div class="modal fade modal-block-lg" id="PnlModalPenceresi" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                </h5>
                <button style="margin-top:-20px" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div id="loadingAjax" style="display:none" class="text-center">
                    <img src="~/Content/images/loading.svg" width="90" height="90" />
                </div>

                <div id="modal-body-content"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
