﻿@{
    string Logo = TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Anasayfa/Images/Logo.Png?w=240&h=60");
}
<!DOCTYPE html>
<html id="MainHtml" class="fixed js flexbox flexboxlegacy no-touch csstransforms csstransforms3d no-overflowscrolling no-mobile-device custom-scroll js flexbox flexboxlegacy no-touch csstransforms csstransforms3d no-overflowscrolling">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    @Styles.Render("~/Kullanici.Vendor/css")
    @Styles.Render("~/Kullanici.CustomVendor/css")
    @Styles.Render("~/Kullanici.Theme/css")
    @Styles.Render("~/Kullanici.CustomTheme/css")
    @Styles.Render("~/Kullanici.elfinder/css")
    @Scripts.Render("~/Kullanici.modernizr/js")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Kullanici.Vendor/js")
    @Scripts.Render("~/Kullanici.CustomVendor/js")
    @Scripts.Render("~/Kullanici.theme/js")
    @Scripts.Render("~/Kullanici.customtheme/js")
    @Scripts.Render("~/Kullanici.theme_init/js")
    @RenderSection("Kullanici_LayoutScript", required: false)
</body>
</html>
