﻿@model TMS.View.Genel.DosyaSecim
@using TMS.View;
@using TMS.Core.Lib;
@using System.Collections.Generic;
@{
    <div class="form-group">
        @Html.Hidden(Model.HedefKontrolId.Replace("_","."),Model.Deger)
        <div class="@Model.LabelClass">
            <label>@Model.Baslik</label>
        </div>
        <div class="@Model.ControlClass">
            <input type="file" id="FlDosya" data-hedef="@Model.HedefKontrolId" class="filestyle DosyaSec" data-placeholder="No file" data-btnClass="btn-danger" data-text="Dosya Seçiniz..!">
        </div>
        <div class="col-md-1">
            <img id="@string.Format("SpnRsm{0}",@Model.HedefKontrolId.ToString().Replace(".","_"))" class="img-responsive" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl(string.Format("{0}?h=70&amp;w=150&amp;mode=max&amp;scale=both",(Model.Deger.ToString()==""?"/Content/images/fotoyok.Png":Model.Deger)),false)" />
        </div>
    </div>
}
@section LayoutScript{
 <script type="text/javascript">
      $(function () {
       
      });
    </script>
}
    
