﻿<meta charset="UTF-8">
<title>@(ViewBag.Title==null? "Token Yönetim Sistemi" : string.Format("{0} | {1}", "Token Yönetim Sistemi", ViewBag.Title))</title>
<meta name="keywords" content="TMS.com" />
<meta name="description" content="TMS.com">
<meta name="author" content="Etiket Yazılım Ekibi">