﻿<!DOCTYPE html>
<html lang="tr-TR">
<head>
    @Html.Partial("~/Views/Shared/_GenelHeaderBilgilendirme.cshtml")
    @Html.Partial("~/Views/Shared/_favicon.cshtml")

    <!-- Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1, max-scale=1">
    <!-- Stylesheets
    ============================================= -->
    @Styles.Render("~/Anasayfa.Site/css")
    @RenderSection("LayoutStyle", required: false)
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <!-- Favicon
    ============================================= -->
    <link rel="shortcut icon" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/general-elements/favicon/favicon.png")">
    <link rel="apple-touch-icon" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/general-elements/favicon/apple-touch-icon.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/general-elements/favicon/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/general-elements/favicon/apple-touch-icon-114x114.png")">
</head>
<body>
    <div id="scroll-progress"><span class="scroll-percent"></span></div>
    <!-- Loading Progress
    ============================================= -->
    <div id="loading-progress">
        <a class="logo" href="#">
            <img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/logo-header.png")" data-logo-alt="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/logo-header-alt.png")" alt="">
            <h3><span class="colored">Token Yönetim Sistemi</span></h3>
        </a><!-- .logo end -->
        <div class="lp-content">
            <div class="lp-counter">
                <br><br><br><br><br>
                Yükleniyor
                <div id="lp-counter">0%</div>
            </div><!-- .lp-counter end -->
            <div class="lp-bar">
                <div id="lp-bar"></div>
            </div><!-- .lp-bar end -->
        </div><!-- .lp-content end -->
    </div><!-- #loading-progress end -->
    <!-- Document Full Container
    ============================================= -->
    <div id="full-container">
        @RenderBody()
        <!-- Footer Mini
        ============================================= -->
        <footer id="footer-mini">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="copyrights-message text-white">2020 © <strong>Practeachum.</strong> Tüm Hakları Saklıdır.</div>
                        <ul class="social-icons rounded x5 dark hover-dark animated">
                            <li><a class="si-facebook" href="#"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a></li>
                            <li><a class="si-twitter" href="#"><i class="fa fa-twitter"></i><i class="fa fa-twitter"></i></a></li>
                            <li><a class="si-instagram" href="#"><i class="fa fa-instagram"></i><i class="fa fa-instagram"></i></a></li>
                        </ul><!-- .social-icons end -->

                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->

        </footer><!-- #footer-mini end -->

    </div><!-- #full-container end -->

    <a class="scroll-top-icon scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- .popup-preview -->
    <!-- External JavaScripts
    ============================================= -->
    @Scripts.Render("~/Anasayfa.Site/js")
    @*@Html.Partial("~/Views/Shared/_Analistik.cshtml")
    @Html.Partial("~/Views/Shared/_Zoopim.cshtml")*@
    @RenderSection("LayoutScript", required: false)

</body>
</html>