﻿@model TMS.View.Kullanici.Siparis
@using TMS.Core.Lib;
@using TMS.Core.Lib;
@using TMS.Core.Service;
@using TMS.Core.Data;
@using TMS.View;

@{ ViewBag.Title = "Siparis";
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
    TMS.Panel.Web.Code.Security.CustomPrincipal Usr = (HttpContext.Current.User as TMS.Panel.Web.Code.Security.CustomPrincipal);
    
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header">
        <h2>Siparis Güncelleme İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Kullanici/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Siparis İşlemleri</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="panel">
        @using (Html.BeginForm("Edit", "Siparis", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.AktifKayit.No)
            <header class="panel-heading">
                <div style="margin-top:-3px;margin-bottom:25px;">
                    <div class="input-group pull-left col-md-10">
                        <a href="~/Kullanici/Siparis/Index" class="btn btn-primary btn-sm"><i class="fa fa-backward"></i> Tüm Siparisleri</a>
                    </div>
                    <div id="ToolBar" class="input-group pull-right col-md-2">
                        <input class="btn btn-danger btn-sm pull-right" style="margin:2px" type="submit" name="BtnIslem" value="Kaydet" />
                        <input class="btn btn-info btn-sm pull-right" style="margin:2px" type="submit" name="BtnIslem" value="İptal Et" />
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-2 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.KaynakTokenNo)
                            </div>
                            <div class="col-md-6">
                                @if (Model.AktifKayit.KaynakTokenNo == 0)
                                {
                                    @Html.DropDownListFor(x => x.AktifKayit.KaynakTokenNo, Model.KaynakTokenListesi.OrderBy(x => x.Token.Ad).ToList().CreateSelectWithGroupList(x => x.Token.No, x => string.Format("{0} : {1}", x.Token.Ad, x.Token.Miktar.ToString()), x => string.Format("{0} > {1}", x.Users.FirstName, x.Users.LastName)), new { @data_plugin_selectTwo = "" })
                                    @Html.ValidationMessageFor(x => x.AktifKayit.KaynakTokenNo) }
                                else
                                {
                                    @Html.DropDownListFor(x => x.AktifKayit.KaynakTokenNo, Model.KaynakTokenListesi.OrderBy(x => x.Token.Ad).ToList().CreateSelectWithGroupList(x => x.Token.No, x => string.Format("{0} : {1}", x.Token.Ad, x.Token.Miktar.ToString()), x => string.Format("{0} > {1}", x.Users.FirstName, x.Users.LastName), false, "Yok"), new { @data_plugin_selectTwo = "", @disabled = "disabled" })
                                    @Html.HiddenFor(x => x.AktifKayit.KaynakTokenNo)}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.HedefTokenNo)
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.AktifKayit.HedefTokenNo, new { @class = "form-control", @type = "text", @rows = 5, cols = 100 })
                                @Html.ValidationMessageFor(x => x.AktifKayit.HedefTokenNo)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.HedefTokenAliasName)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.AktifKayit.HedefTokenAliasName, new { @class = "form-control", @type = "text"})
                                @Html.ValidationMessageFor(x => x.AktifKayit.HedefTokenAliasName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Miktar)
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.AktifKayit.Miktar, new { @class = "form-control para", @type = "number" })
                                @Html.ValidationMessageFor(x => x.AktifKayit.Miktar)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
    </section>
</div>
@section LayoutScript
{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script type="text/javascript">
        $(document).ready
            (

            );
    </script>
}
