﻿@model TMS.View.Kullanici.Siparis
@using TMS.Core.Lib;
@using System.Linq;
@{
    ViewBag.Title = "Siparis Listesi";
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
    Model.SatisListesi = Model.SatisListesi.OrderByDescending(x => x.Siparis.No).ToList();
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>Siparis İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Kullanici/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Siparis İşlemleri</span></li>
            </ol>
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="panel">
        @using (Html.BeginForm("Index", "Siparis", FormMethod.Post, new { @id = "FrmIslemMain" }))
        {
            var TblSiparisKey = $"TblVeri{ Guid.NewGuid().ToString()}";
            <header class="panel-heading">
                <div class="btn-toolbar pull-left">
                    <div class="btn-group">
                        <h5>Sipariş Listesi</h5>
                    </div>
                </div>
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a href="~/Kullanici/Siparis/Create" class="btn btn-info btn-sm pull-right"><i class="fa fa-plus"></i> Yeni</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </header>
            <div class="panel-body" id="PnlSiparisListesi">
                @{if (Model.SatisListesi.Count() > 0)
                    {
                        <table class="tblveri table table-responsive table-no-more table-bordered table-striped mb-none DtTable" id="@TblSiparisKey">
                            <thead>
                                <tr>

                                    <th class="col-md-3" style="word-break:break-word;">Transfer Token</th>
                                    <th class="col-md-4" style="word-break:break-word;">Müşteri Token</th>
                                    <th class="col-md-2">Takma İsim</th>
                                    <th class="col-md-2">Sipariş</th>
                                    <th class="col-md-2">Tarih</th>
                                    <th class="col-md-2">Giriş Miktar</th>
                                    <th class="col-md-2">Güncel Toplam</th>
                                    <th class="col-md-2">Açıklama</th>
                                    <th class="col-md-1">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int sayac = 1;
                                    foreach (var Aktif in Model.SatisListesi)
                                    {
                                                                <tr class="GuncellemeYap" data-IslemNo="@Aktif.Siparis.No">
                                                                    <td class="col-md-3" style="word-break:break-word;" data-title="Transfer Token">@Aktif.KaynakToken.Ad</td>
                                                                    <td class="col-md-4" style="word-break:break-word;" data-title="Hedef">@Aktif.Siparis.HedefTokenNo</td>
                                                                    <td class="col-md-2" data-title="Alias Name">@Aktif.Siparis.HedefTokenAliasName</td>
                                                                    <td class="col-md-2" id="AlnMiktar@(Aktif.Siparis.No)" data-title="Miktar">@(Aktif.Siparis.Miktar.HasValue? Aktif.Siparis.Miktar.Value.ToString("0") : "")</td>
                                                                    <td class="col-md-2" data-title="Tarih">@Aktif.Siparis.Tarih.Value.ToString("dd MMMM yyyy HH:mm:ss")</td>
                                                                    <td class="col-md-2" id="AlnGirisMiktar@(Aktif.Siparis.No)" data-title="Giriş Miktarı">@(Aktif.Siparis.GirisMiktar.HasValue? Aktif.Siparis.GirisMiktar.Value.ToString("0") : "")</td>
                                                                    <td class="col-md-2" id="AlnGuncelToplam@(Aktif.Siparis.No)" data-title="Güncel Toplam">@(Aktif.Siparis.GuncelToplam.HasValue? Aktif.Siparis.GuncelToplam.Value.ToString("0"):"")</td>
                                                                    <td class="col-md-2" id="AlnAciklama@(Aktif.Siparis.No)" data-title="Html.LabelFor(x => x.AktifKayit.Aciklama)">@Aktif.Siparis.Aciklama </td>
                                                                    <td style="width:300px" data-title="İşlemler">
                                                                        <a href="~/Kullanici/Siparis/Edit/@Aktif.Siparis.No" class="btn btn-info"><i class="fa fa-edit"></i> Düzenle</a>
                                                                        @if (Aktif.Siparis.Durum == 5)
                                                                        {
                                                                            <span>Durduruldu</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="~/Kullanici/Siparis/Durdur/@Aktif.Siparis.No" class="btn btn-danger" onclick="return confirm('Siparişi Durdurmak istediğinize emin misiniz?');">
                                                                                <i class="fa fa-pause"></i> Durdur
                                                                            </a>
                                                                        }
                                                                        <a href="~/Kullanici/Siparis/Delete/@Aktif.Siparis.No" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">
                                                                            <i class="fa fa-remove"></i> Sil
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                    }
                                }
                            </tbody>
                        </table> }
                    else
                    {
                        <div class="alert alert-warning">Kayıt Yok.</div> }
                }
            </div>
        }
    </section>
</div>
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
<script>
  function bilgiguncelle()
  {
      setTimeout(function ()
      {
          $('.GuncellemeYap').each(function () {
              var IslemNo = $(this).attr("data-IslemNo");
              var url = "/Siparis/BilgiGuncelle/" + IslemNo;
              $.get(url, function (Sonuc)
              {
                  console.log(Sonuc);
                  if (Sonuc.Durum)
                  {
                      $("#AlnMiktar" + IslemNo).text(Sonuc.Deger.Siparis.Miktar);
                      $("#AlnGirisMiktar" + IslemNo).text(Sonuc.Deger.Siparis.GirisMiktar);
                      $("#AlnGuncelToplam" + IslemNo).text(Sonuc.Deger.Siparis.GuncelToplam);
                      $("#AlnAciklama" + IslemNo).text(Sonuc.Deger.Siparis.Aciklama);
                  }
              });
          });
          bilgiguncelle();
      }, 10000);
  }
  bilgiguncelle();
</script>
}
