﻿@model  TMS.View.Genel.Rapor
@using ReportViewerForMvc;
@using TMS.Core.Lib;
@{
    ViewBag.Title = Model.Title;
    Layout = Model.Layout;
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>@Model.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Model.GirisUrl)">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>@Model.Title</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:15px">
    @using (Html.BeginForm(Model.Action, Model.Controller, FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "FrmIslem" }))
    {
        @Html.HiddenFor(x => x.GirisUrl);
        @Html.HiddenFor(x => x.Action);
        @Html.HiddenFor(x => x.Controller);
        @Html.HiddenFor(x => x.Name);
        @Html.HiddenFor(x => x.Title);
        @Html.HiddenFor(x => x.Layout);
        @Html.HiddenFor(x => x.ReportTitle);
        if (Model.ParametreListesi.Count() > 0)
        {
            <section class="panel panel-danger">
                <header class="panel-heading portlet-handler">
                    <h2 class="col-md-11 panel-title">Sorgulama Kriterleri</h2>
                    <div class="col-md-1">
                        <button type="submit" class="pull-right btn btn-danger"><i class="fa fa-filter"></i>Filtere</button>
                    </div>
                    <div class="clearfix"></div>
                </header>
                <div class="panel-body" style="padding:15px">
                    <div class="col-lg-6">
                        <center>
                            @foreach (var Nesne in Model.ParametreListesi.Select((value, index) => new { index, value }))
                            {
                                TMS.View.Genel.RaporParameter Prm = new TMS.View.Genel.RaporParameter();
                                Prm = Nesne.value;
                                switch (Prm.Tip)
                                {
                                    case TMS.View.Genel.RaporParameterTip.Liste:
                                        {
                                            <div class="form-group">
                                                <div class="col-md-2 text-right MarginTop5">
                                                    <label>@Prm.Baslik</label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(x => Prm.Deger, new SelectList(Prm.Liste, "Value", "Key"), new { @data_plugin_selectTwo = "", @class = " form-control populate" })
                                                </div>
                                            </div>
                                            break;
                                        }
                                    case TMS.View.Genel.RaporParameterTip.Text:
                                        {
                                                                <div class="form-group">
                                                                    <div class="col-md-2 text-right MarginTop5">
                                                                        <label>@Prm.Baslik</label>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        @Html.TextBoxFor(x => Prm.Deger, new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                break;
                                                            }
                                                        case TMS.View.Genel.RaporParameterTip.Tarih:
                                                            {
                                                                <div class="col-md-2 text-right MarginTop5">
                                                                    <label>@Prm.Baslik</label>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </span>
                                                                        @Html.TextBoxFor(x => Prm.Deger, new { @startDate = DateTime.Now, @data_date_format = "dd.mm.yyyy", @data_plugin_datepicker = "", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                        break;
                                                                    }
                                                                case TMS.View.Genel.RaporParameterTip.SecimListe:
                                                                    break;
                                                                default:
                                                                    break;
                                                            }
                                                        }
                        </center>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-5">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
                                                            }
                                                        }
    @foreach (var Liste in Model.DataListesi)
    {
        <section class="panel panel-danger">
            <header class="panel-heading portlet-handler">
                <h2 class="col-md-11 panel-title">@Liste.Baslik</h2>
                <div class="col-md-1">
                    <button type="submit" data-hedef="@Liste.Baslik.Replace(" ","")" class="BtnExcel pull-right btn btn-danger"><i class="fa fa-file-pdf-o"></i>Export</button>
                </div>
                <div class="clearfix"></div>
            </header>
            <div class="panel-body">
                @if (Liste.Data.Rows.Count > 0)
                {
                    <table class="Dttbl tblveri table table-responsive table-no-more table-bordered table-striped mb-none" id="@Liste.Baslik.Replace(" ","")">
                        <thead>
                            <tr>
                                <th>Sıra No</th>
                                @foreach (System.Data.DataColumn DtColumn in Liste.Data.Columns)
                                {
                                    <th class="col-md-1">
                                        @DtColumn.Caption.Replace("_", " ")
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{int sayac = 1;
                                foreach (System.Data.DataRow Dtrow in Liste.Data.Rows)
                                {
                                    <tr>
                                        <td class="col-sm-1">@(sayac++)</td>
                                        @foreach (System.Data.DataColumn DtColumn in Liste.Data.Columns)
                                        {
                                            <td class="col-md-1">
                                                @Dtrow[DtColumn.ColumnName].ToString()
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-warning">Kayıt Yok.</div>
                                }
            </div>
        </section>
                                }
</div>
