﻿@model  Piton.View.Genel.Rapor
@using ReportViewerForMvc;
@using Piton.Lib;
@{
    ViewBag.Title = Model.Title;
    Layout = Model.Layout;
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>@Model.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Piton.Web.Araclar.HtmlHelpers.ResolveUrl(Model.GirisUrl)">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>@Model.Title</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
   @using (Html.BeginForm(Model.Action, Model.Controller, FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "FrmIslem" }))
   {
       Html.HiddenFor(x => x.GirisUrl);
       Html.HiddenFor(x => x.Action);
       Html.HiddenFor(x => x.Controller);
       Html.HiddenFor(x => x.Name);
       Html.HiddenFor(x => x.ReportPath);
       Html.HiddenFor(x => x.Title);
       Html.HiddenFor(x => x.Layout);
       Html.HiddenFor(x => x.ProcessingMode);
       Html.HiddenFor(x => x.ReportTitle);
       if (Model.ParametreListesi.Count() > 0)
       {
                     <section class="panel panel-danger">
                        <header class="panel-heading portlet-handler">
                            <h2 class="panel-title">Sorgulama Kriterleri</h2>
                        </header>
                        <div class="panel-body">
                            <center>
                                @foreach (var Nesne in Model.ParametreListesi.Select((value, index) => new { index, value }))
                                {
                                    Html.HiddenFor(x => Model.ParametreListesi[Nesne.index].Tip);
                                    Html.HiddenFor(x => Model.ParametreListesi[Nesne.index].Baslik);
                                    Html.HiddenFor(x => Model.ParametreListesi[Nesne.index].Liste);
                                    Piton.View.Genel.RaporParameter Prm = new Piton.View.Genel.RaporParameter();
                                    Prm = Nesne.value;
                                    switch (Prm.Tip)
                                    {
                                        case Piton.View.Genel.RaporParameterTip.Liste:
                                            {
                                                <div class="form-group">
                                                    <div class="col-md-2 text-right MarginTop5">

                                                        <label>@Prm.Baslik</label>
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.DropDownListFor(x => Prm.Deger, new SelectList(Prm.Liste, "Value", "Key"), new { @data_plugin_selectTwo = "", @class = " form-control populate" })
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case Piton.View.Genel.RaporParameterTip.Text:
                                            {
                                                <div class="form-group">
                                                    <div class="col-md-2 text-right MarginTop5">
                                                        <label>@Prm.Baslik</label>
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.TextBoxFor(x => Prm.Deger, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case Piton.View.Genel.RaporParameterTip.Tarih:
                                            {
                                                <div class="col-md-2 text-right MarginTop5">
                                                    <label>@Prm.Baslik</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                        @Html.TextBoxFor(x => Prm.Deger, new { @startDate = DateTime.Now, @data_date_format = "dd.mm.yyyy", @data_plugin_datepicker = "", @class = "form-control" })
                                                    </div>
                                                </div>
                                                break;
                                            }
                                        case Piton.View.Genel.RaporParameterTip.TarihAralik:
                                            break;
                                        case Piton.View.Genel.RaporParameterTip.DegerAralik:
                                            break;
                                        case Piton.View.Genel.RaporParameterTip.SecimListe:
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            </center>
                            
                        
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-7">
                                <button type="submit" class="pull-right btn btn-danger"><i class="fa fa-filter"></i>Filtere</button>
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </section>
       }
   }
    <section class="panel panel-danger">
        <header class="panel-heading portlet-handler">
            <h2 class="panel-title">Rapor Görünümü</h2>
        </header>
        <div class="panel-body">
            <table class="tblveri table table-responsive table-no-more table-bordered table-striped mb-none" id="TblVeri">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        @foreach (DataColumn DtColumn in Model.Data.Columns)
                        {
                            <th class="col-md-5">
                                DtColumn.
                            </th>
                        }
                       
                        <th class="col-md-5">
                            Ders
                        </th>
                        <th class="col-md-5">
                            Ünite
                        </th>
                        <th class="col-md-5">
                            Konu
                        </th>
                        <th class="col-md-1">
                            Toplam
                        </th>
                        <th class="col-md-1">
                            Doğru
                        </th>
                        <th class="col-md-1">
                            Yanlış
                        </th>
                        <th class="col-md-1">
                            Boş
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var Konular = Model.Sorular.Select(x => x.Soru.KonuNo).Distinct();
                        foreach (var KonuNo in Konular)
                        {
                            Piton.View.Genel.KonuListItem KonuItem = KonuSerice.KonuListesiGetir(KonuNo).FirstOrDefault();
                            if (KonuItem != null)
                            {
                                int Toplam = 0;
                                int Dogru = 0;
                                int Yanlis = 0;
                                int Bos = 0;
                                Toplam = Model.Sorular.Where(x => x.Soru.KonuNo == KonuItem.Konu.No).Count();
                                Dogru = Model.Sorular.Where(x => x.Soru.KonuNo == KonuItem.Konu.No && x.SinavOturumUsersCevap.DogrulukDurum == true && x.SinavOturumUsersCevap.CevapDurum == true).Count();
                                Yanlis = Model.Sorular.Where(x => x.Soru.KonuNo == KonuItem.Konu.No && x.SinavOturumUsersCevap.DogrulukDurum == false && x.SinavOturumUsersCevap.CevapDurum == true).Count();
                                Bos = Model.Sorular.Where(x => x.Soru.KonuNo == KonuItem.Konu.No && x.SinavOturumUsersCevap.CevapDurum != false).Count();
                                <tr>
                                    <td data-title="Sıra No">@(SiraNo++)</td>
                                    <td data-title="Ders">
                                        @KonuItem.Ders.Ad
                                    </td>
                                    <td data-title="Ünite">
                                        @KonuItem.Unite.Ad
                                    </td>
                                    <td data-title="Konu">
                                        @KonuItem.Konu.Ad
                                    </td>
                                    <td data-title="Toplam">
                                        @Toplam
                                    </td>
                                    <td data-title="Doğru">
                                        @Dogru
                                    </td>
                                    <td data-title="Yanlış">
                                        @Yanlis
                                    </td>
                                    <td data-title="Boş">
                                        @Bos
                                    </td>
                                </tr>
                            }

                        }
                    }
                </tbody>
            </table>
            @Html.ReportViewer(
                             new { ProcessingMode = Model.ProcessingMode },
                             new { ReportPath = Model.ReportPath },
                             null,
                             new { Name = "DataSet1", Value = Model.Data },
                             new
                             {
                                 width = System.Web.UI.WebControls.Unit.Percentage(100),
                                 height = System.Web.UI.WebControls.Unit.Percentage(100),
                                 AsyncRendering = false,
                                 SizeToReportContent = false
                             })
        </div>
    </section>
   }
</div>
@section Kurum_LayoutScript{

}
