﻿@model  TMS.View.Genel.Rapor
@using ReportViewerForMvc;
@using TMS.Core.Lib;
<style>
   /* .dx-scrollable-content {

    }
    .raportoolbar {
        position: fixed !important;
        top: 115px !important;
        width: 100% !important;
        z-index: 9999;
    }

    .dxrd-toolbar {
        width: auto !important;
        white-space: nowrap !important;
        position: absolute !important;
        right: 0px !important;
        z-index: 9999;
        top: -20px;
    }

    .dx-scrollable-scroll {
       height:0px !important;
    }
    .dx-list-item-content {
        overflow: hidden;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: table-cell;
        width: 100%;
        padding: 7px 9px;
    }*/
</style>
@{
    ViewBag.Title = Model.Title;
    Layout = Model.Layout;

    string FilteCss = "";
    string RaporCss = "";
    if (Model.FiltreKonum == TMS.View.Genel.FiltreKonum.Sol || Model.FiltreKonum == TMS.View.Genel.FiltreKonum.Sag)
    {
        FilteCss = "col-lg-3 col-md-4 col-sm-12";
        RaporCss = "col-lg-9 col-md-8 col-sm-12";
    }

    if (Model.FiltreKonum == TMS.View.Genel.FiltreKonum.Ust || Model.FiltreKonum == TMS.View.Genel.FiltreKonum.Alt)
    {
        FilteCss = "col-sm-12";
        RaporCss = "col-lg-12 col-md-12 col-sm-12";
    }

    DevExpress.XtraReports.UI.XtraReport Rapor = (DevExpress.XtraReports.UI.XtraReport)Model.ReportInstanceName.GetInstance();
    DevExpress.Web.Mvc.WebDocumentViewerSettings Ayarlar = new WebDocumentViewerSettings()
    {
        Name = "WebDocumentViewer",
        
    };

    foreach (var Prm in Model.ParametreListesi)
    {
        if (Rapor.Parameters.FindIndex(x => x.Name == Prm.Anahtar.Replace("@", "")) > -1)
        {
            if (!string.IsNullOrEmpty(Prm.Deger))
            {
                if (Prm.Tip == TMS.View.Genel.RaporParameterTip.Tarih)
                {
                    Rapor.Parameters[Prm.Anahtar.Replace("@", "")].Value = Convert.ToDateTime(Prm.Deger);
                }
                if (Prm.Tip == TMS.View.Genel.RaporParameterTip.Liste)
                {
                    Rapor.Parameters[Prm.Anahtar.Replace("@", "")].Value = Prm.Deger;
                }
                if (Prm.Tip == TMS.View.Genel.RaporParameterTip.Text)
                {
                    Rapor.Parameters[Prm.Anahtar.Replace("@", "")].Value = Prm.Deger.ToString();
                }
                if (Prm.Tip == TMS.View.Genel.RaporParameterTip.Yok)
                {
                    Rapor.Parameters[Prm.Anahtar.Replace("@", "")].Value = Prm.Deger.ToString();
                }
            }
        }
    }
    Rapor.RequestParameters = false;
    if (Rapor.Parameters.FindIndex(x => x.Name == "Logo") > -1)
    {
        string Logo = TMS.Panel.Web.Araclar.HtmlHelpers.ResolveServerUrl("~/Content/Images/Logo.Png?w=233&h=60", false);
        Rapor.Parameters["Logo"].Value = Logo;
    }
}
@section LayoutRaporStyle{
    @Html.DevExpress().GetStyleSheets(
                            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
                            )
}
@section LayoutRaporScript{
    @Html.DevExpress().GetScripts(
                                         new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                                         new Script { ExtensionSuite = ExtensionSuite.Editors },
                                         new Script { ExtensionSuite = ExtensionSuite.Report }
                                         )
}
<style type="text/css">
    .dxrd-preview .dxrd-right-panel-collapse, .dxrd-preview .dxrd-right-panel, .dxrd-preview .dxrd-right-tabs {
        display: none;
    }
</style>
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>@Model.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Model.GirisUrl)">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>@Model.Title</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px">
    @using (Html.BeginForm(Model.Action, Model.Controller, FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "FrmIslem" }))
    {

        @Html.HiddenFor(x => x.GirisUrl);
        @Html.HiddenFor(x => x.Action);
        @Html.HiddenFor(x => x.Controller);
        @Html.HiddenFor(x => x.Name);
        @Html.HiddenFor(x => x.Title);
        @Html.HiddenFor(x => x.Layout);
        @Html.HiddenFor(x => x.ReportTitle);
        @Html.HiddenFor(x => x.ReportInstanceName);
        @Html.HiddenFor(x => x.FiltreKonum);

        if (Model.ParametreListesi.Where(x=>x.Tip!=TMS.View.Genel.RaporParameterTip.Yok).Count() > 0)
        {
            switch (Model.FiltreKonum)
            {
                case TMS.View.Genel.FiltreKonum.Sol:
                    {
                        <section class="panel panel-danger @FilteCss">
                            <header class="panel-heading portlet-handler">
                                <h2 class="col-md-8 panel-title">Sorgulama Kriterleri</h2>
                                <div class="col-md-4">
                                    <button type="submit" class="pull-right btn btn-info"><i class="fa fa-filter"></i> Filtere</button>
                                </div>
                                <div class="clearfix"></div>
                            </header>
                            <div class="panel-body" style="padding:15px">
                                <div class="col-lg-4 col-md-5 col-sm-12">
                                    @foreach (var Nesne in Model.ParametreListesi.ToList().Select((value, index) => new { index, value }))
                                    {
                                        TMS.View.Genel.RaporParameter Prm = new TMS.View.Genel.RaporParameter();
                                        Prm = Nesne.value;
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Anahtar)
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Baslik)
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Tip)
                                        switch (Prm.Tip)
                                        {
                                            case TMS.View.Genel.RaporParameterTip.Liste:
                                                {
                                                    foreach (var ListeItm in Model.ParametreListesi[Nesne.index].Liste.Select((value, index) => new { index, value }))
                                                    {
                                                        <input type="hidden" value="@ListeItm.value.Key"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Key" />
                                                        <input type="hidden" value="@ListeItm.value.Value"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Value" />
                                                    }
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(x => Model.ParametreListesi[Nesne.index].Deger, new SelectList(Prm.Liste, "Key", "Value", Model.ParametreListesi[Nesne.index].Deger), new { @data_plugin_selectTwo = "", @class = " form-control populate", @onchange = "document.getElementById('FrmIslem').submit()" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Yok:
                                                {
                                                    @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Baslik)
                                                    @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Deger)
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Text:
                                                {
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.TextBoxFor(x => Prm.Deger, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Tarih:
                                                {
                                                    <div class="col-md-2 text-right MarginTop5">
                                                        <label class="ws-nowrap">@Prm.Baslik</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            @Html.TextBoxFor(x => Model.ParametreListesi[Nesne.index].Deger, new { @startDate = DateTime.Now, @data_date_format = "dd.mm.yyyy", @data_plugin_datepicker = "", @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.SecimListe:
                                                {
                                                    foreach (var ListeItm in Model.ParametreListesi[Nesne.index].Liste.Select((value, index) => new { index, value }))
                                                    {
                                                        <input type="hidden" value="@ListeItm.value.Key"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Key" />
                                                        <input type="hidden" value="@ListeItm.value.Value"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Value" />
                                                    }
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(x => Model.ParametreListesi[Nesne.index].Deger, new SelectList(Prm.Liste, "Key", "Value", Model.ParametreListesi[Nesne.index].Deger), new { @class = " form-control", @multiple = "true", @data_plugin_multiselect = "" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            default:
                                                break;
                                        }
                                        <div class="clearfix"></div>
                                    }
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="col-md-5">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </section>
                        <section class="panel panel-danger @RaporCss">
                            <header class="panel-heading portlet-handler">
                                <h2 class="col-md-11 panel-title">@Model.ReportTitle</h2>
                                <div class="clearfix"></div>
                            </header>
                            <div class="panel-body">
                                @Html.DevExpress().WebDocumentViewer(Ayarlar).Bind(Rapor).GetHtml()
                            </div>
                        </section>
                        break;
                    }
                case TMS.View.Genel.FiltreKonum.Sag:
                    {
                        <section class="panel panel-danger @RaporCss">
                            <header class="panel-heading portlet-handler">
                                <h2 class="col-md-11 panel-title">@Model.ReportTitle</h2>
                                <div class="clearfix"></div>
                            </header>
                            <div class="panel-body">
                                @Html.DevExpress().WebDocumentViewer(Ayarlar).Bind(Rapor).GetHtml()
                            </div>
                        </section>
                        <section class="panel panel-danger @FilteCss">
                            <header class="panel-heading portlet-handler" style="padding:3px;padding-left:10px">
                                <h2 class="col-md-8 panel-title" style="margin-top: 8px;margin-left: 0px;">Sorgulama Kriterleri</h2>
                                <div class="col-md-4">
                                    <button type="submit" class="pull-right btn btn-info"><i class="fa fa-filter"></i> Filtere</button>
                                </div>
                                <div class="clearfix"></div>
                            </header>
                            <div class="panel-body" style="padding:15px">
                                <div class="col-sm-12">
                                    @foreach (var Nesne in Model.ParametreListesi.ToList().Select((value, index) => new { index, value }))
                                    {
                                        TMS.View.Genel.RaporParameter Prm = new TMS.View.Genel.RaporParameter();
                                        Prm = Nesne.value;
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Anahtar)
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Baslik)
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Tip)
                                        switch (Prm.Tip)
                                        {
                                            case TMS.View.Genel.RaporParameterTip.Liste:
                                                {
                                                    foreach (var ListeItm in Model.ParametreListesi[Nesne.index].Liste.Select((value, index) => new { index, value }))
                                                    {
                                                        <input type="hidden" value="@ListeItm.value.Key"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Key" />
                                                        <input type="hidden" value="@ListeItm.value.Value"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Value" />
                                                    }
                                                    <div class="form-group">
                                                        <div class="col-sm-12 col-md-4 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-sm-12 col-md-8">
                                                            @Html.DropDownListFor(x => Model.ParametreListesi[Nesne.index].Deger, new SelectList(Prm.Liste, "Key", "Value", Model.ParametreListesi[Nesne.index].Deger), new { @data_plugin_selectTwo = "", @class = " form-control populate", @onchange = "document.getElementById('FrmIslem').submit()" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Yok:
                                                {
                                                    @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Baslik)
                                                    @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Deger)
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Text:
                                                {
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.TextBoxFor(x => Prm.Deger, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Tarih:
                                                {
                                                    <div class="col-md-2 text-right MarginTop5">
                                                        <label class="ws-nowrap">@Prm.Baslik</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            @Html.TextBoxFor(x => Model.ParametreListesi[Nesne.index].Deger, new { @startDate = DateTime.Now, @data_date_format = "dd.mm.yyyy", @data_plugin_datepicker = "", @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.SecimListe:
                                                {
                                                    foreach (var ListeItm in Model.ParametreListesi[Nesne.index].Liste.Select((value, index) => new { index, value }))
                                                    {
                                                        <input type="hidden" value="@ListeItm.value.Key"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Key" />
                                                        <input type="hidden" value="@ListeItm.value.Value"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Value" />
                                                    }
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(x => Model.ParametreListesi[Nesne.index].Deger, new SelectList(Prm.Liste, "Key", "Value", Model.ParametreListesi[Nesne.index].Deger), new { @class = " form-control", @multiple = "true", @data_plugin_multiselect = "" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            default:
                                                break;
                                        }
                                        <div class="clearfix"></div>
                                    }
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="col-md-5">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </section>
                        break;
                    }
                case TMS.View.Genel.FiltreKonum.Ust:
                    {
                        <section class="panel panel-danger @FilteCss">
                            <header class="panel-heading portlet-handler">
                                <h2 class="col-md-11 panel-title">Sorgulama Kriterleri</h2>
                                <div class="col-md-1">
                                    <button type="submit" class="pull-right btn btn-info"><i class="fa fa-filter"></i> Filtere</button>
                                </div>
                                <div class="clearfix"></div>
                            </header>
                            <div class="panel-body" style="padding:15px">
                                <div class="col-lg-4 col-md-5 col-sm-12">
                                    @foreach (var Nesne in Model.ParametreListesi.ToList().Select((value, index) => new { index, value }))
                                    {
                                        TMS.View.Genel.RaporParameter Prm = new TMS.View.Genel.RaporParameter();
                                        Prm = Nesne.value;
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Anahtar)
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Baslik)
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Tip)
                                        switch (Prm.Tip)
                                        {
                                            case TMS.View.Genel.RaporParameterTip.Liste:
                                                {
                                                    foreach (var ListeItm in Model.ParametreListesi[Nesne.index].Liste.Select((value, index) => new { index, value }))
                                                    {
                                                        <input type="hidden" value="@ListeItm.value.Key"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Key" />
                                                        <input type="hidden" value="@ListeItm.value.Value"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Value" />
                                                    }
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(x => Model.ParametreListesi[Nesne.index].Deger, new SelectList(Prm.Liste, "Key", "Value", Model.ParametreListesi[Nesne.index].Deger), new { @data_plugin_selectTwo = "", @class = " form-control populate", @onchange = "document.getElementById('FrmIslem').submit()" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Yok:
                                                {
                                                    @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Baslik)
                                                    @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Deger)
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Text:
                                                {
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.TextBoxFor(x => Prm.Deger, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Tarih:
                                                {
                                                    <div class="col-md-2 text-right MarginTop5">
                                                        <label class="ws-nowrap">@Prm.Baslik</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            @Html.TextBoxFor(x => Model.ParametreListesi[Nesne.index].Deger, new { @startDate = DateTime.Now, @data_date_format = "dd.mm.yyyy", @data_plugin_datepicker = "", @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.SecimListe:
                                                {
                                                    foreach (var ListeItm in Model.ParametreListesi[Nesne.index].Liste.Select((value, index) => new { index, value }))
                                                    {
                                                        <input type="hidden" value="@ListeItm.value.Key"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Key" />
                                                        <input type="hidden" value="@ListeItm.value.Value"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Value" />
                                                    }
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(x => Model.ParametreListesi[Nesne.index].Deger, new SelectList(Prm.Liste, "Key", "Value", Model.ParametreListesi[Nesne.index].Deger), new { @class = " form-control", @multiple = "true", @data_plugin_multiselect = "" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            default:
                                                break;
                                        }
                                        <div class="clearfix"></div>
                                    }
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="col-md-5">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </section>
                        <section class="panel panel-danger @RaporCss">
                            <header class="panel-heading portlet-handler">
                                <h2 class="col-md-11 panel-title">@Model.ReportTitle</h2>
                                <div class="clearfix"></div>
                            </header>
                            <div class="panel-body">
                                @Html.DevExpress().WebDocumentViewer(Ayarlar).Bind(Rapor).GetHtml()
                            </div>
                        </section>
                        break;
                    }
                case TMS.View.Genel.FiltreKonum.Alt:
                    {
                        <section class="panel panel-danger @RaporCss">
                            <header class="panel-heading portlet-handler">
                                <h2 class="col-md-11 panel-title">@Model.ReportTitle</h2>
                                <div class="clearfix"></div>
                            </header>
                            <div class="panel-body">
                                @Html.DevExpress().WebDocumentViewer(Ayarlar).Bind(Rapor).GetHtml()
                            </div>
                        </section>
                        <section class="panel panel-danger @FilteCss">
                            <header class="panel-heading portlet-handler">
                                <h2 class="col-md-11 panel-title">Sorgulama Kriterleri</h2>
                                <div class="col-md-1">
                                    <button type="submit" class="pull-right btn btn-info"><i class="fa fa-filter"></i> Filtere</button>
                                </div>
                                <div class="clearfix"></div>
                            </header>
                            <div class="panel-body" style="padding:15px">
                                <div class="col-lg-4 col-md-5 col-sm-12">
                                    @foreach (var Nesne in Model.ParametreListesi.ToList().Select((value, index) => new { index, value }))
                                    {
                                        TMS.View.Genel.RaporParameter Prm = new TMS.View.Genel.RaporParameter();
                                        Prm = Nesne.value;
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Anahtar)
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Baslik)
                                        @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Tip)
                                        switch (Prm.Tip)
                                        {
                                            case TMS.View.Genel.RaporParameterTip.Liste:
                                                {
                                                    foreach (var ListeItm in Model.ParametreListesi[Nesne.index].Liste.Select((value, index) => new { index, value }))
                                                    {
                                                        <input type="hidden" value="@ListeItm.value.Key"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Key" />
                                                        <input type="hidden" value="@ListeItm.value.Value"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Value" />
                                                    }
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(x => Model.ParametreListesi[Nesne.index].Deger, new SelectList(Prm.Liste, "Key", "Value", Model.ParametreListesi[Nesne.index].Deger), new { @data_plugin_selectTwo = "", @class = " form-control populate", @onchange = "document.getElementById('FrmIslem').submit()" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Yok:
                                                {
                                                    @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Baslik)
                                                    @Html.HiddenFor(x => x.ParametreListesi[Nesne.index].Deger)
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Text:
                                                {
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.TextBoxFor(x => Prm.Deger, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.Tarih:
                                                {
                                                    <div class="col-md-2 text-right MarginTop5">
                                                        <label class="ws-nowrap">@Prm.Baslik</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            @Html.TextBoxFor(x => Model.ParametreListesi[Nesne.index].Deger, new { @startDate = DateTime.Now, @data_date_format = "dd.mm.yyyy", @data_plugin_datepicker = "", @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            case TMS.View.Genel.RaporParameterTip.SecimListe:
                                                {
                                                    foreach (var ListeItm in Model.ParametreListesi[Nesne.index].Liste.Select((value, index) => new { index, value }))
                                                    {
                                                        <input type="hidden" value="@ListeItm.value.Key"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Key" />
                                                        <input type="hidden" value="@ListeItm.value.Value"
                                                               name="ParametreListesi[@(Nesne.index)].Liste[@(ListeItm.index)].Value" />
                                                    }
                                                    <div class="form-group">
                                                        <div class="col-md-2 text-right MarginTop5">
                                                            <label>@Prm.Baslik</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            @Html.DropDownListFor(x => Model.ParametreListesi[Nesne.index].Deger, new SelectList(Prm.Liste, "Key", "Value", Model.ParametreListesi[Nesne.index].Deger), new { @class = " form-control", @multiple = "true", @data_plugin_multiselect = "" })
                                                        </div>
                                                    </div>
                                                    break;
                                                }
                                            default:
                                                break;
                                        }
                                        <div class="clearfix"></div>
                                    }
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="col-md-5">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </section>
                        break;
                    }
                default:
                    break;
            }
        }
        else
        {
            <section class="panel panel-danger">
                <header class="panel-heading portlet-handler raportoolbar">
                    <h2 class="col-md-11 panel-title">@Model.ReportTitle</h2>
                    <div class="clearfix"></div>
                </header>
                <div class="panel-body">
                    @Html.DevExpress().WebDocumentViewer(Ayarlar).Bind(Rapor).GetHtml()
                </div>
            </section>
        }
    }
</div>
<script>
    $(window).resize(function () {
        $(".content-body").each(function (index) {
            if ($(window).width() < 768) {
                $(this).attr("style", "margin-left:0px;");
            }
            else {
                $(this).attr("style", "margin-left:85px;");
            }
        });
    });
</script>
