﻿@model TMS.View.Platform.Anasayfa
@{
    ViewBag.Title = "Platform";
    Layout = "~/Areas/Platform/Views/Shared/_Layout.cshtml";
}
<header class="page-header">
    <h2>Giriş</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="~/Platform/Anasayfa/Index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Platform</span></li>
        </ol>
        @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
    </div>
</header>
@using (Html.BeginForm("IslemYap", "Anasayfa", FormMethod.Post, null))
{
    <div class="row">
        <div class="clearfix"></div>
        <div class="col-md-12 ">
            @Html.Partial("_KullaniciBilgileri", Model.User)
        </div>
    </div>
}
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
}
