﻿@model TMS.View.Kullanici.Token
@using TMS.Core.Lib;
@{
    ViewBag.Title = "Token Listesi";
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>Token İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Kullanici/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Token İşlemleri</span></li>
            </ol>
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="panel">
        @using (Html.BeginForm("Index", "Token", FormMethod.Post, new { @id = "FrmIslemMain" }))
        {
            var TblTokenKey= $"TblVeri{ Guid.NewGuid().ToString()}";
            <header class="panel-heading">
                <div class="btn-toolbar pull-left">
                    <div class="btn-group">
                        <h5>Token Listesi</h5>
                    </div>
                </div>
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a href="~/Kullanici/Token/Create" class="btn btn-info btn-sm pull-right"><i class="fa fa-plus"></i> Yeni</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </header>
            <div class="panel-body">
            @{if (Model.TokenListesi.Count() > 0)
                        {
        <table class="tblveri table table-responsive table-no-more table-bordered table-striped mb-none DtTable" id="@TblTokenKey">
            <thead>
                <tr>
                    <th class="col-md-4">@Html.LabelFor(x => x.AktifKayit.Ad)</th>
                    <th class="col-md-2">@Html.LabelFor(x => x.AktifKayit.Aciklama)</th>
                    <th class="col-md-2">@Html.LabelFor(x => x.AktifKayit.Miktar)</th>
                    <th class="col-md-2">@Html.LabelFor(x => x.AktifKayit.SonKalanMiktar)</th>
                    <th class="col-md-2">@Html.LabelFor(x => x.AktifKayit.Tarih)</th>
                    <th class="col-md-1">İşlemler</th>
                </tr>
            </thead>
            <tbody>
              @{
                    foreach (var Aktif in Model.TokenListesi)
                    {
                     <tr>
                         <td class="col-md-3" data-title="@Html.DisplayNameFor(x => x.AktifKayit.Ad)" style="word-break:break-word;">@Aktif.Token.Ad</td>
                         <td class="col-md-2" data-title="@Html.DisplayNameFor(x => x.AktifKayit.Aciklama)">@Aktif.Token.Aciklama</td>
                         <td class="col-md-1" data-title="Güncel Toplam">@(Aktif.Token.Miktar.HasValue? Aktif.Token.Miktar.Value.ToString("0"):"")</td>
                         <td class="col-md-1" data-title="Güncel Toplam">@(Aktif.Token.SonKalanMiktar.HasValue? Aktif.Token.SonKalanMiktar.Value.ToString("0"):"")</td>
                         <td class="col-md-1" data-title="@Html.DisplayNameFor(x => x.AktifKayit.Tarih)">@Aktif.Token.Tarih.ToString("dd MMMM yyyy HH:mm")</td>
                         <td style="width:200px" data-title="İşlemler">
                             <a href="~/Kullanici/Siparis/Create/@Aktif.Token.No" class="btn btn-success"><i class="fa fa-plus-square"></i> Sipariş Ekle</a>
                             <a href="~/Kullanici/Token/Edit/@Aktif.Token.No" class="btn btn-info"><i class="fa fa-edit"> Düzenle</i></a>
                             <a href="~/Kullanici/Token/Delete/@Aktif.Token.No" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">
                                 <i class="fa fa-remove"></i> Sil
                             </a>
                         </td>
                     </tr>
                    }
              }
            </tbody>
        </table>
        }
            else
            {
                <div class="alert alert-warning">Kayıt Yok.</div> }
            }
            </div>
        }
    </section>
</div>
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
}
