﻿@model TMS.View.Genel.UserBildirim
@{
    ViewBag.Title = "Kullanici - " + Model.AktifKayit.Ad;
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header">
        <h2>@ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Kullanici/AnaSoru/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="~/Kullanici/UserBildirim/Index">
                        <i class="fa fa-envelope-o"></i>
                        Tüm Bildirimler
                    </a>
                </li>
                <li><span>Bildirim İşlemleri</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <section class="panel">
        <header class="panel-heading">
            <h4 class="col-md-8">@Model.AktifKayit.Ad</h4>
            <h4 class="col-md-4" style="margin:0px;padding:0px">
                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Kullanici/UserBildirim/Index")"
                   class="mb-xs mt-xs mr-xs btn btn-danger pull-right">
                    <i class="fa fa-arrow-circle-left"></i>
                    Bildirim Listesi
                </a>
            </h4>
            <div class="clearfix">
            </div>
        </header>
        <div class="panel-body" id="PnlGirisBilgileri" style="min-height:400px">
            <div class="form-group">
                @Html.Raw(Model.AktifKayit.Icerik)
            </div>
        </div>
    </section>
</div>
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}