﻿@model TMS.View.Genel.UserBildirim
@using TMS.Core.Lib;
@{
    ViewBag.Title = "Kullanici - Bildirim Listesi";
    Layout = "~/Areas/Kullanici/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>Bildirimler</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Kullanici/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>User Bildirim İşlemleri</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
@using (Html.BeginForm("Index", "Avm", FormMethod.Post, new { @id = "FrmIslemMain" }))
{
    <div class="col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <header class="panel-heading portlet-handler clearfix">
                <div class="btn-group pull-right">

                </div>
                <div class="btn-group pull-left">
                    <table>
                        <tr>
                            <td>
                                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Kullanici/Anasayfa/Index")"
                                   class="mb-xs mt-xs mr-xs btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Geri</a>
                            </td>
                            <td>
                                <h2 class="panel-title">Bildirim Listesi</h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </header>
            <div class="panel-body">
                <div class="panel-body">
                    @{if (Model.UserBildirimListesi.Count() > 0)
                        {
                            <table class="tblveri table-hover table table-responsive table-no-more table-bordered table-striped mb-none DtTable" id="@($"TblVeri{Guid.NewGuid().ToString()}")">
                                <thead>
                                    <tr>
                                        <th width="80">Sıra No</th>
                                        <th width="80">
                                            @Html.DisplayNameFor(x => x.AktifKayit.No)
                                        </th>
                                        <th class="col-md-2">
                                            @Html.DisplayNameFor(x => x.AktifKayit.KaynakUsersNo)
                                        </th>
                                        <th class="col-md-2">
                                            @Html.DisplayNameFor(x => x.AktifKayit.Ad)
                                        </th>
                                        <th class="col-md-3">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sayac = 1;
                                        foreach (var Aktif in Model.UserBildirimListesi.OrderByDescending(x=>x.UserBildirim.OkunmaDurum).ThenByDescending(x=>x.UserBildirim.Tarih))
                                        {
                                            <tr>
                                                <td width="80" data-title="Sıra No">@(sayac++)</td>
                                                <td width="80" data-title="No">@Aktif.UserBildirim.No</td>
                                                <td data-title="Kimden">@(Aktif.Users == null ? "Sistem" : string.Format("{0} {1}", Aktif.Users.FirstName, Aktif.Users.LastName))</td>
                                                <td data-title="Konu">
                                                    <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(string.Format("~/Kullanici/UserBildirim/Goruntule/{0}",Aktif.UserBildirim.No))">
                                                        <i class="fa fa-check-square-o"></i>
                                                        @Aktif.UserBildirim.Ad
                                                    </a>
                                                </td>
                                                <td data-title="İşlemler">
                                                    @if (Aktif.UserBildirim.OkunmaDurum)
                                                    {
                                                        <button type="button" class="btnOkunmaDurumuDegistir btn btn-danger" data-hedef="@Aktif.UserBildirim.No">
                                                            <i class="fa fa-square-o"></i>
                                                            Okunmadı Yap
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btnOkunmaDurumuDegistir btn btn-danger" data-hedef="@Aktif.UserBildirim.No">
                                                            <i class="fa fa-check-square-o"></i>
                                                            Okundu Yap
                                                        </button>
                                                    }
                                                    <a class="btn btn-success" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(string.Format("~/Kullanici/UserBildirim/Goruntule/{0}",Aktif.UserBildirim.No))">
                                                        <i class="fa fa-eye"></i>
                                                        Görüntüle
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-warning">Kayıt Yok.</div>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
}
@section LayoutScript{
  <script>
     $(".btnOkunmaDurumuDegistir").click(function () {
                var UserBildirimNo = $(this).data('hedef');
                var Kontrol = $(this);
                $.ajax({
                    type: "post",
                    url: '@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Kullanici/UserBildirim/OkunmaDurumDegistir")',
                    data: { UserBildirimNo: UserBildirimNo },
                    success: function (Sonuc) {
                        if (Sonuc.Durum == true) {
                            console.log(Sonuc);
                            if (Sonuc.Deger == true) {

                                $(Kontrol).html('<i class="fa fa-square-o"></i> Okunmadı Yap');
                            }
                            else {
                                $(Kontrol).html('<i class="fa fa-check-square-o"></i> Okundu Yap');
                            }
                        }
                        else {
                            swal({
                                title: "TMS.com",
                                text: Sonuc.Mesaj,
                                type: "warning",
                                showCancelButton: false
                            });
                        }
                    },
                    error: function () {
                        swal({
                            title: "TMS.com",
                            text: "Hata Oluştusss.",
                            type: "warning",
                            showCancelButton: false
                        });
                    },
                    beforeSend: function () {
                    },
                    complete: function () {
                    }
                });
            });
    </script>
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)

}
