﻿@model TMS.View.Genel.RaporParameter
@Html.HiddenFor(x => x.Tip)
<h4>Test 123</h4>
@switch (Model.Tip)
{
    case TMS.View.Genel.RaporParameterTip.Liste:
        {
            <div class="form-group">
                <div class="col-md-2 text-right MarginTop5">
                    <label>@Model.Baslik</label>
                </div>
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.Deger, new SelectList(Model.Liste, "Value", "Key"), new { @data_plugin_selectTwo = "", @class = " form-control populate" })
                </div>
            </div>
            break;
        }
    case TMS.View.Genel.RaporParameterTip.Text:
        {
            <div class="form-group">
                <div class="col-md-2 text-right MarginTop5">
                    <label>@Model.Baslik</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Deger, new { @class = "form-control" })
                </div>
            </div>
            break;
        }
    case TMS.View.Genel.RaporParameterTip.Tarih:
        {
            <div class="col-md-2 text-right MarginTop5">
                <label>@Model.Baslik</label>
            </div>
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        @Html.TextBoxFor(x => x.Deger, new { @startDate = DateTime.Now, @data_date_format = "dd.mm.yyyy", @data_plugin_datepicker = "", @class = "form-control" })
                    </div>
                </div>
            break;
        }
    case TMS.View.Genel.RaporParameterTip.SecimListe:
        break;
    default:
        break;
}
