﻿@model TMS.View.Site.Anasayfa
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="header" class="style-1 anim-moveleft" data-scroll-index="0">
			<div id="header-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<a class="logo logo-header" href="#">
								<img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/logo-header-alt.png")" data-logo-alt="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/logo-header-alt.png")" alt="">
								<h3><span class="colored">Token Yönetim Sistemi</span></h3>
								<span>Token Yönetim Sistemi</span>
							</a><!-- .logo end -->
							<div class="header-menu-and-meta">
								<ul id="main-menu" class="main-menu">
									<li><a data-scroll-nav="0" href="#header">Anasayfa</a></li>
									<li><a data-scroll-nav="1" href="#SistemHakkinda">Sistem Hakkında</a></li>
									<li><a data-scroll-nav="2" href="#video">Nasıl Kullanılır</a></li>
									<li><a data-scroll-nav="3" href="#nasilgelisitirldi">Nasıl Geliştirildi</a></li>
									<li><a data-scroll-nav="4" href="#UyeOl">Kayıt Ol</a></li>
									<li class="hidden-md hidden-lg">
										<a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Account/")">Sisteme Giriş</a>
									</li>
								</ul>
								<div class="header-meta hidden-sm">
									<div class="hm-content">
										<a class="header-btn btn small colorful hover-white" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Account/")">
											Sisteme Giriş
										</a>
									</div><!-- .hm-content end -->
								</div><!-- .header-meta end -->
								<div class="mobile-menu-btn hamburger hamburger--slider">
									<span class="hamburger-box">
										<span class="hamburger-inner"></span>
									</span>
								</div><!-- .mobile-menu-btn -->
								<!-- <div class="clearfix"></div> -->
							</div><!-- .header-menu-and-meta end -->

						</div><!-- .col-md-12 end -->
					</div><!-- .row end -->
				</div><!-- .container end -->
				<div id="mobile-menu-wrap">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div id="mobile-menu"></div><!-- #mobile-menu end -->
							</div><!-- .col-md-12 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->
				</div><!-- #mobile-menu-wrap end -->
			</div><!-- #header-wrap end -->
		</header>
<section id="banner" class="rounded-bottom" data-scroll-index="0">
			<div class="banner-parallax">
				<div class="banner-slider">
					<ul class="owl-carousel slider-img-bg">
						<li>
							<div class="overlay-colored" data-bg-color="#000" data-bg-color-opacity="0.5"></div>
							<div class="slide">
								<img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/banner/img-21.jpg")" alt="">
								<div class="slide-content">
									<div class="container">
						<div class="row">
							<div class="col-md-6">

								<div class="banner-center-box">
									<div class="video-preview vp-banner anim-movebottom-seq" data-move-distance="80">
										<a class="video-btn lightbox-iframe-youtube" href="https://www.youtube.com/watch?v=Gwoa1wZJBJ0">
											<i class="fa fa-play"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 pl-40 pl-md-0">

								<div class="banner-center-box text-white">
									<h1 class="anim-movebottom-seq">
										<span class="colored">ÇEVRİMİÇİ PERFORMANS DESTEK SİSTEMİ</span>
										<br>Öğretmenlik Uygulamasının En Kolay Yolu
									</h1>
									<div class="description anim-movebottom-seq">
Token Yönetim Sistemi İçin Geliştirilmiş Olan Bu Platform, Çok Kullanıcılı Bir Çevrimiçi Performans Destek Sistemidir.
									</div>
								</div><!-- .banner-center-box end -->

							</div><!-- .col-md-6 end -->
						</div><!-- .row end -->
					</div>
									<!-- .container end -->
								</div>
									<!-- .slide-content end -->
							</div>
							<!-- .slide end -->
						</li>
						<li>
							<div class="slide">
								<img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/banner/img-23.jpg")" alt="">
								<div class="overlay-colored" data-bg-color="#fff" data-bg-color-opacity="0.5"></div><!-- .overlay-colored end -->
								<div class="slide-content">
									<div class="container">
										<div class="row">
											<div class="col-md-10 col-md-offset-1">

												<div class="banner-center-box text-center">
													<h1>
														<span class="colored">PRACTEACHUM.</span>
														<br>
													UYGULAMA ÖĞRENCİLERİ İçin
													</h1>
													<div class="description">
														Ders (Etkinlik) Tokenı, Materyal, Uygulama, Gözlem, Dosya ve Değerlendirme İşlemlerini Kolaylaştırır.<br>Bilgi, Zaman ve Enerjinin Verimli Kullanımı Sayesinde Mesleki Performans ve Gelişimin Arttırılmasını Hedefler.
													</div>
													<a class="btn large colorful hover-dark mt-30" href="#">KAYIT OL</a>
												</div><!-- .banner-center-box end -->

											</div><!-- .col-md-10 end -->
										</div><!-- .row end -->
									</div><!-- .container end -->
								</div><!-- .slide-content end -->
							</div><!-- .slide end -->
						</li>
						<li>
							<div class="slide">
								<img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/banner/img-5.jpg")" alt="">
								<div class="overlay-colored" data-bg-color="#000" data-bg-color-opacity="0.8"></div><!-- .overlay-colored end -->
								<div class="slide-content">
									<div class="container">
										<div class="row">
											<div class="col-md-8">

												<div class="banner-center-box text-white">
													<h1>
														<span class="colored">PRACTEACHUM.</span>
														<br>
														UYGULAMA ÖĞRETİM ELEMANLARI & UYGULAMA ÖĞRETMENLERİ İçin
													</h1>
													<div class="description">
														Kullanıcı Doküman ve Çalışmalarının İncelenmesi, Yönlendirilmesi, İzlenmesi ve Değerlendirilmesi İşlemlerinin Verimli Gerçekleştirilmesi Sayesinde Uzmanlık/Rehberlik İşyükünün Azaltılmasını ve Uygulama Kullanıcılerinin Mesleki Performans ve Gelişimi Üzerindeki Etkinin Arttırılmasını Hedefler.
													</div>
													<a class="video-btn lightbox-iframe" href="https://www.youtube.com/watch?v=Gwoa1wZJBJ0">
														<i class="fa fa-play"></i>
														<span class="title">Sistem Hakkında Bilgilenmek İçin<br>Arayüz Videosunu İzleyin.</span>
													</a><!-- .video-btn end -->
												</div><!-- .banner-center-box end -->
											</div><!-- .col-md-8 end -->
										</div><!-- .row end -->
									</div><!-- .container end -->
								</div><!-- .slide-content end -->
							</div><!-- .slide end -->
						</li>
					</ul>
				</div><!-- .banner-slider end -->
				<div class="separator-bottom"></div>
			</div><!-- .banner-parallax end -->
		</section>
<section id="content">
			<div id="content-wrap">
				<div id="SistemHakkinda" class="flat-section" data-scroll-index="1">
					<div class="section-content">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div class="section-title text-center">
										<h2>Neden Kullanılmalı?</h2>
										<p>
											Çünkü, Uygulama Sürecinde Gerekli Tüm Belge ve Dokümanların Kolaylıkla Oluşturulması, Güncellenmesi, Saklanması ve İletilmesi Olanaklarının Yanı Sıra Sürecin Temel Paydaşı Olan Uygulama Kullanıcılerinin (Kullanici Öğretmen Adayı) Hazırlık, Uygulama ve Değerlendirme Aşamalarında İhtiyaç Duyduğu Uzmanlık/Rehberlik, Destek, Yardım ve Yönlendirme Gereksinimlerinin Sistem Üzerinden ya da Tarafından Karşılanması Sayesinde Öğretmenlik Uygulaması Sürecinin Daha Etkili ve Verimli Bir Süreç Olarak Deneyimlenmesini Sağlar.
										</p>
									</div>
								</div>
								<div class="col-md-12">
									<div class="SistemHakkinda-boxes">
										<div class="box-counter anim-movebottom-seq text-center">
											<div class="bc-content">
												<h1><span class="counter-stats">7358</span></h1>
												<h5>Kullanıcı</h5>
											</div>
										</div>
										<div class="box-counter anim-movebottom-seq text-center">
											<div class="bc-content">
												<h1><span class="counter-stats">10236</span></h1>
												<h5>Ders Tokenı</h5>
											</div>
										</div>
										<div class="box-counter anim-movebottom-seq text-center">
											<div class="bc-content">
												<h1><span class="counter-stats">4687</span></h1>
												<h5>Uygulama Dosyası</h5>
											</div>
										</div>
										<div class="box-counter anim-movebottom-seq text-center">
											<div class="bc-content">
												<h1><span class="counter-stats">23252</span></h1>
												<h5>Etkileşim</h5>
											</div>
										</div><!-- .box-counter end -->
									</div><!-- .SistemHakkinda-boxes end -->
								</div><!-- .col-md-12 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->
					</div><!-- .section-content end -->
				</div><!-- .flat-section end -->
				<!-- === Service Features =========== -->
				<div id="service-features" class="parallax-section" data-scroll-index="1" data-parallax-bg-img="img-37.jpg")" data-stellar-background-ratio="0.2">
					<div class="overlay-colored" data-bg-color="#000" data-bg-color-opacity="0.4"></div><!-- .overlay-colored end -->
				<div class="section-content">
						<div class="container">
							<div class="row">
								<div class="col-md-4">

									<div class="box-info box-info-1 text-white mb-50 anim-scaledown-seq">
										<div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-lightbulb"></i></div>
										<div class="box-content">
											<h4 class="capitalized">Bilgi & Yönlendirme</h4>
											<p>Öğretmenlik Uygulaması sürecinde gerçekleştirilen işlemlere yönelik bilgiler ve ihtiyaç duyulan yönlendirmeler otomatik olarak sağlanabilir.</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-1 end -->
								</div><!-- .col-md-4 end -->
								<div class="col-md-4">

									<div class="box-info box-info-1 text-white mb-50 anim-scaledown-seq">
										<div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-tools"></i></div>
										<div class="box-content">
											<h4 class="capitalized">Otomatik Biçim & Düzen</h4>
											<p>
												Sistem üzerinden hazırlanan/geliştirilen tüm içerikler standart biçim ve düzende oluşturularak elektronik ve baskı formatında saklanabilir.
											</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-1 end -->

								</div><!-- .col-md-4 end -->
								<div class="col-md-4">
									<div class="box-info box-info-1 text-white mb-50 anim-scaledown-seq">
										<div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-layers"></i></div>
										<div class="box-content">
											<h4 class="capitalized">Depolama & Yönlendirme</h4>
											<p>
												Saklanan tüm içeriklere elektronik ortamda erişebilir; içerikler kullanıcılar tarafından değerlendirebilir ve istenilen kullanıcılara kolaylıkla yönlendirebilir.
											</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-1 end -->

								</div><!-- .col-md-4 end -->
								<div class="col-md-4">

									<div class="box-info box-info-1 text-white mb-md-50 anim-scaledown-seq">
										<div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-strategy"></i></div>
										<div class="box-content">
											<h4 class="capitalized">Tartışma & Değerlendirme</h4>
											<p>
												Kullanıcılar, sistem üzerinde erişim yetkisine sahip olduğu tüm içerikler üzerinden görüş paylaşabilir, kendilerine yöneltilen yorumlar ile etkileşimde bulunabilir.
											</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-1 end -->

								</div><!-- .col-md-4 end -->
								<div class="col-md-4">

									<div class="box-info box-info-1 text-white mb-md-50 anim-scaledown-seq">
										<div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-gears"></i></div>
										<div class="box-content">
											<h4 class="capitalized">Güncelleme & Ayarlar</h4>
											<p>
												Kullanıcılar tüm içeriklerini aldıkları yorumlar doğrultusunda kolaylıkla günceller ve iyileştirebilir. Uzman/Rehber kullanıcılar içerikler konusunda ön ayar ve kurallar belirleyebilir.
											</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-1 end -->

								</div><!-- .col-md-4 end -->
								<div class="col-md-4">

									<div class="box-info box-info-1 text-white anim-scaledown-seq">
										<div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-chat"></i></div>
										<div class="box-content">
											<h4 class="capitalized">İletişim & Destek</h4>
											<p>
												Kullanıcılar, gereksinim duyduğu anda bağlantılı olduğu tüm paydaşlarla kolaylıkla iletişim kurabilir; sistemin kullanımı konusunda çevrimiçi destek alabilir.
											</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-1 end -->

								</div><!-- .col-md-4 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-content end -->

				</div><!-- .parallax-section end -->

				<!-- === Watch Video =========== -->
				<div id="video" class="flat-section" data-scroll-index="2">

					<div class="section-content">

						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">

									<div class="section-title text-center">
										<h2>Nasıl Kullanılır?</h2>
										<p>
											Sisteme Kayıt Olma Aşamasından Uygulama Dosyasının Teslimine Kadar<br>Tüm İşlemlere Yönelik Tutorial İçerikler
										</p>
									</div><!-- .section-title end -->

								</div><!-- .col-md-8 end -->
                                <div class="col-md-10 col-md-offset-1">
                                    @*<div class="video-preview"><iframe src="https://www.youtube.com/watch?v=Gwoa1wZJBJ0"></iframe></div>*@
                                    <div class="video-preview vp-banner anim-movebottom-seq" data-move-distance="80">
                                        <a class="video-btn lightbox-iframe-youtube" href="https://www.youtube.com/watch?v=Gwoa1wZJBJ0">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                </div><!-- .col-md-10 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->
					</div><!-- .section-content end -->
				</div><!-- .flat-section end -->
				<!-- === Clients Testmonials =========== -->
				<div id="nasilgelisitirldi" class="flat-section" data-scroll-index="3">
					<div class="section-content">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">

									<div class="section-title text-center">
										<h2>Nasıl Geliştirildi?</h2>
										<p>
											Sistem, iki yıllık sürede çok sayıda paydaş ve uzman değerlendirmeleri doğrultusunda geliştirilmiştir.
										</p>
									</div><!-- .section-title end -->
								</div><!-- .col-md-8 end -->
								<div class="col-md-12">
									<div class="testmonials-slider">
										<ul class="owl-carousel">
											<li>
												<div class="slide">
													<div class="testmonial-single-1">
														<span class="quote-sign">-1-</span>
														<div class="ts-content">
															<br>Öğretmenlik Uygulaması dersini deneyimlemekte ya da yeni deneyimlemiş olan 105 Kullanıcı, 13 Uygulama Öğretim Elemanı ve 10 Uygulama Öğretmeni ile görüşmeler yapılmıştır.<br><br>
														</div><!-- .ts-content end -->
														<div class="ts-person">
															<h5>Öğretmenlik Uygulamasında Yaşanan Sorun/Zorlukların Belirlenmesi</h5>
															<span>Mayıs-Haziran, 2019</span>
														</div><!-- .ts-person end -->
													</div><!-- .testmonial-single-1 -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="testmonial-single-1">
														<span class="quote-sign">-2-</span>
														<div class="ts-content">
<br>Gerçekleştirilen görüşmeler deşifre edilerek, Öğretmenlik Uygulaması sürecinde karşılaşılan zorluk/sorunlar ve paydaşların destek ihtiyaçları bağlamında çözümlenmiştir.<br><br>
														</div><!-- .ts-content end -->
														<div class="ts-person">
															<h5>Gerçekleştirilen Görüşmelerin Deşifre Edilmesi ve Çözümlenmesi</h5>
															<span>Temmuz-Ağustos, 2019</span>
														</div><!-- .ts-person end -->
													</div><!-- .testmonial-single-1 -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="testmonial-single-1">
														<span class="quote-sign">-3-</span>
														<div class="ts-content">
<br>Alanyazında ifade edilen sorunlar ile araştırma bulgularının karşılaştırılması yoluyla sorun/zorluk/destek ihtiyacı kapsamı genişletilmiş ve elde edilen madde havuzu araştırma amaç ve hedefleri doğrultusunda daraltılmıştır.
														</div><!-- .ts-content end -->
														<div class="ts-person">
															<h5>Tespit Edilen Sorun/Zorlukların Kapsam Açısından Genişletilmesi & Daraltılması)</h5>
															<span>Eylül-Ekim, 2019</span>
														</div><!-- .ts-person end -->
													</div><!-- .testmonial-single-1 -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="testmonial-single-1">
														<span class="quote-sign">-4-</span>
														<div class="ts-content">
<br>Ele alınan sorun/zorluk/destek gereksinimlerin Öğretmenlik Uygulaması sürecinin odağında olan Mesleki Performans ve Mesleki Gelişim üzerindeki etkililik ve önemliliği farklı alanlardan uygulama öğretim elemanları tarafından değerlendirilmiştir.
														</div><!-- .ts-content end -->
														<div class="ts-person">
															<h5>Araştırma Kapsamında Ele Alınan Sorun/Zorlukların Uzmanlar Tarafından Değerlendirilmesi</h5>
															<span>Kasım-Aralık, 2019</span>
														</div><!-- .ts-person end -->
													</div><!-- .testmonial-single-1 -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="testmonial-single-1">
														<span class="quote-sign">-5-</span>
														<div class="ts-content">
<br>Mesleki performans ve gelişime etki eden sorun/zorlukların aşılmasına yönelik teknoloji tabanlı çözümler geliştirilerek, Destek Sistem ve Öğretmenlik Uygulaması konusunda bilgili OgretimElemanilerden görüş ve öneriler alınmıştır.
														</div><!-- .ts-content end -->
														<div class="ts-person">
															<h5>Performans ve Gelişime Etki Eden Sorunlara Yönelik Teknolojik Çözümlerin Belirlenmesi</h5>
															<span>Ocak-Şubat, 2019</span>
														</div><!-- .ts-person end -->
													</div><!-- .testmonial-single-1 -->
												</div><!-- .slide end -->
											</li>
										</ul>
									</div><!-- .testmonials-slider end -->

								</div><!-- .col-md-12 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-content end -->

				</div><!-- .flat-section end -->

				 @*=== Our Clients ===========
				<div id="our-clients" class="flat-section" data-scroll-index="3">

					<div class="section-content">

						<div class="container">
							<div class="row">
								<div class="col-md-">

									<div class="clients-slider">
										<ul class="owl-carousel">
											<li>
												<div class="slide">
													<div class="client-single"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/clients/img-1.png")" alt=""></div>
												</div> .slide end
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/clients/img-2.png")" alt=""></div>
												</div> .slide end
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/clients/img-3.png")" alt=""></div>
												</div> .slide end
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/clients/img-4.png")" alt=""></div>
												</div> .slide end
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/clients/img-5.png")" alt=""></div>
												</div> .slide end
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/sliders/clients/img-6.png")" alt=""></div>
												</div> .slide end
											</li>
										</ul>
									</div> .clients-slider end

								</div> .col-md- end
							</div> .row end
						</div> .container end

					</div> .section-content end

				</div>
				 .flat-section end*@

				<!-- === CTA Title 1 =========== -->
				<div id="UyeOl" class="flat-section" data-scroll-index="4">

					<div class="section-content" style="padding:60px 0 120px">

						<div class="container">
							<div class="row">
								<div class="col-md-12">

									<div class="box-cta text-center">
										<img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/logo-header.png")" alt="">
										<h1>
											<span class="colored">Practeachum.</span>
											<br>Öğretmenlik Uygulamasının En Kolay Yolu
										</h1>
										<p>
											<strong>Kolay</strong> Öğretmenlik Uygulaması, <strong>Etkili</strong> Öğretmenlik Uygulaması
										</p>
										<a class="btn large colorful hover-dark" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/OgretimElemani")">Uygulama Öğretim Elemanı</a>
										<a class="btn large colorful hover-dark" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Kullanici")">Kullanıcı</a>
										<a class="btn large colorful hover-dark" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Uyelik/Ogretmen")">Uygulama Öğretmeni</a>
										<img class="shape-1 anim-moveleft-seq" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/cta-title-shape-1.png")" alt="" data-move-duration="2000">
										<img class="shape-2 anim-moveright-seq" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/cta-title-shape-2.png")" alt="" data-move-duration="2000">
										<img class="shape-3 anim-moveleft-seq" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/cta-title-shape-3.png")" alt="" data-move-duration="2000">
										<img class="shape-4 anim-moveright-seq" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Theme/Default/images/files/cta-title-shape-4.png")" alt="" data-move-duration="2000">
									</div><!-- .box-cta end -->

								</div><!-- .col-md-12 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-content end -->

				</div><!-- .flat-section end -->

			</div><!-- #content-wrap -->

		</section>
@section LayoutScript{
	<script>

	</script>
}