﻿@model TMS.View.Administrator.Users
@using TMS.Core.Lib;
@{
    ViewBag.Title = "Administrator - Kullanıcı Düzenleme";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    TMS.Panel.Web.Code.Security.CustomPrincipal Usr = (HttpContext.Current.User as TMS.Panel.Web.Code.Security.CustomPrincipal);
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header">
        <h2>Kullanıcı Güncelleme İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Administrator/AnaUsers/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Avm Kullanıcı İşlemleri</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "FrmIslem" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.AktifKayit.UserId)
    @Html.HiddenFor(x => x.AktifKayit.Image)
    <div class="col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <header class="panel-heading portlet-handler clearfix">
                <div class="btn-group pull-right">
                    <span class="btn btn-success" style="margin-left:5px;">
                        <i class="fa fa-save"></i>
                        <input type="submit" name="BtnIslem" value="Kaydet" />
                    </span>
                    <span class="btn btn-danger " style="margin-left:5px;">
                        <i class="fa fa-close"></i>
                        <input type="submit" name="BtnIslem" value="İptal Et" />
                    </span>
                </div>
                <div class="btn-group pull-left">
                    <table>
                        <tr>
                            <td>
                                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Administrator/Users/Index")"
                                   class="mb-xs mt-xs mr-xs btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Geri</a>
                            </td>
                            <td>
                                <h2 class="panel-title">Kullanıcı Listesi</h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </header>
            <div class="panel-body">
                <div class="col-md-9 col-xs-12 mb-sm-12">
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.AktifKayit.FirstName)
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.AktifKayit.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AktifKayit.FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.AktifKayit.LastName)
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.AktifKayit.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AktifKayit.FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.AktifKayit.Email)
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.AktifKayit.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AktifKayit.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.AktifKayit.Telefon)
                        </div>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.AktifKayit.Telefon, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AktifKayit.Telefon)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.AktifKayit.Password)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.AktifKayit.Password, new { @id = "sifreGorunurluk", @class = "form-control ", @type = "password" })
                            @Html.ValidationMessageFor(x => x.AktifKayit.Password)
                        </div>
                        <div class="col-md-1  MarginTop5">
                            <i style="cursor:pointer" data-hedef="AktifKayit_Password" id="opsman" class="goster fa fa-eye"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.RolNoListesi)
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.RolNoListesi, Model.RolListesi.CreateSelectList(x => x.RoleId, x => x.RoleName), new { @data_plugin_selectTwo = "", @class = " form-control populate", @multiple = "true" })
                            @Html.ValidationMessageFor(x => x.RolNoListesi)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2  MarginTop5">
                            @Html.LabelFor(x => x.AktifKayit.IsActive)
                        </div>
                        <div class="col-md-10">
                            <div class="switch switch-danger">
                                @Html.CheckBoxFor(x => x.AktifKayit.IsActive, new { @data_plugin_ios_switch = "", @checked = "checked" })
                            </div>
                            @Html.ValidationMessageFor(x => x.AktifKayit.IsActive)
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        @{
                            TMS.View.Genel.DosyaSecim DosyaSecimAvm = new TMS.View.Genel.DosyaSecim();
                            DosyaSecimAvm.Deger = "";
                            DosyaSecimAvm.Baslik = "Fotoğraf";
                            DosyaSecimAvm.HedefKontrolId = "AktifKayit_Image";
                            DosyaSecimAvm.LabelClass = "col-md-2 MarginTop5";
                            DosyaSecimAvm.ControlClass = "col-md-6";
                            Html.RenderPartial("_DosyaSec", DosyaSecimAvm);
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
}
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".goster").click(function () {
                if ($("#sifreGorunurluk").attr("type") == "")
                    document.getElementById("sifreGorunurluk").setAttribute("type", "password");
                else if ($("#sifreGorunurluk").attr("type") == "password")
                    document.getElementById("sifreGorunurluk").setAttribute("type", "");
            });
        });
    </script>
}
