﻿
@model TMS.View.Administrator.Users
@{
    ViewBag.Title = "Administrator - Kullanıcı Listesi";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header page-header-custom-background">
        <h2>Users İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Administrator/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Users İşlemleri</span></li>
            </ol>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
        </div>
    </header>
</div>
@using (Html.BeginForm("Index", "Users", FormMethod.Post, new { @id = "FrmIslemMain" }))
{
    <div class="col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <header class="panel-heading portlet-handler clearfix">
                <div class="btn-group pull-right">
                    <a href="~/Administrator/Users/Create" class="mb-xs mt-xs mr-xs btn btn-success"><i class="fa fa-plus"></i> Yeni</a>
                </div>
                <div class="btn-group pull-left">
                    <table>
                        <tr>
                            <td>
                                <a href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Administrator/Anasayfa")"
                                   class="mb-xs mt-xs mr-xs btn btn-danger"><i class="fa fa-arrow-circle-left"></i> Geri</a>
                            </td>
                            <td>
                                <h2 class="panel-title">Users Listesi</h2>
                            </td>
                        </tr>
                    </table>
                </div>
            </header>
            <div class="panel-body">
                <div class="panel-body">
                    @{if (Model.UsersListesi.Count() > 0)
                        {
                            <table class="tblveri table table-responsive table-no-more table-bordered table-striped mb-none DtTable" id="@($"TblVeri{Guid.NewGuid().ToString()}")">
                                <thead>
                                    <tr>
                                        <th width="80">Sıra No</th>
                                        <th width="80">
                                        </th>
                                        <th width="80">
                                            @Html.DisplayNameFor(x => x.AktifKayit.UserId)
                                        </th>
                                        <th width="col-md-1">
                                            @Html.DisplayNameFor(x => x.AktifKayit.Username)
                                        </th>
                                        <th class="col-md-2">
                                            @Html.DisplayNameFor(x => x.AktifKayit.FirstName)
                                        </th>
                                        <th class="col-md-2">
                                            @Html.DisplayNameFor(x => x.AktifKayit.LastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(x => x.AktifKayit.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(x => x.AktifKayit.Telefon)
                                        </th>
                                        <th class="col-md-2">
                                            @Html.DisplayNameFor(x => x.AktifKayit.IsActive)
                                        </th>
                                        <th class="col-md-1">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sayac = 1;
                                        foreach (var Aktif in Model.UsersListesi)
                                        {
                                    <tr>
                                        <td width="80" data-title="Sıra No">@(sayac++)</td>
                                        <td width="80" data-title="Resim">
                                            <img src="@((Aktif.Image == "" || Aktif.Image==null) ? TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/images/fotoyok.png?w=80&h=80"):TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(string.Format("{0}?w=80&h=80",Aktif.Image)))" />
                                        </td>
                                        <td width="80" data-title="User No">
                                            @Aktif.UserId
                                        </td>
                                        <td class="col-md-1" data-title="No">@Aktif.Username</td>
                                        <td class="col-md-1" data-title="No">@Aktif.FirstName</td>
                                        <td class="col-md-1" data-title="No">@Aktif.LastName</td>
                                        <td class="col-md-1" data-title="No">@Aktif.Email</td>
                                        <td class="col-md-1" data-title="No">@Aktif.Telefon</td>
                                        <td data-title="Durum" class="text-center text-success">
                                            @if (Aktif.IsActive)
                                            {
                                                <i class="far fa-2x fa-check-square"></i>
                                            }
                                            else
                                            {
                                                <i class="far fa-2x fa-square"></i>
                                            }
                                        </td>
                                        <td data-title="İşlemler">
                                            <a href="~/Administrator/Users/Edit/@Aktif.UserId" class="btn btn-link"><i class="fa fa-2x fa-edit"></i></a>
                                            <a onclick="return OnayKutusuOnayAl('Users İşlemleri','Silmek istediğinize emin misiniz?','warning','Evet','Hayır','@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(string.Format("~/Administrator/Users/Delete/{0}",Aktif.UserId))');"
                                               href=""
                                               class="btn btn-link">
                                                <i class="fa fa-2x fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-warning">Kayıt Yok.</div>
                        }
                    }
                </div>
            </div>
        </section>
    </div>
}
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
}
