﻿@model TMS.View.Genel.Profil
@using TMS.Core.Lib;
@{
    ViewBag.Title = "Administrator - Kullanıcı Profili";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <header class="page-header">
        <h2>Profil Güncelleme İşlemleri</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Administrator/Anasayfa/Index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Profil İşlemleri</span></li>
            </ol>
        </div>
    </header>
</div>
@using (Html.BeginForm("Profil", "Users", FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "FrmIslem" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.AktifKayit.UserId)
    @Html.HiddenFor(x => x.AktifKayit.Image)
    <div class="col-md-12 col-sm-12 col-xs-12" data-plugin-portlet id="portlet-1">
        <section class="panel panel-info" id="panel-1" data-portlet-item>
            <header class="panel-heading portlet-handler clearfix">
                <div class="btn-group pull-right">
                    <span class="btn btn-success" style="margin-left:5px;">
                        <i class="fa fa-save"></i>
                        <input type="submit" name="BtnIslem" value="Kaydet" />
                    </span>
                    <span class="btn btn-danger " style="margin-left:5px;">
                        <i class="fa fa-close"></i>
                        <input type="submit" name="BtnIslem" value="İptal Et" />
                    </span>
                </div>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-xs-6 ">
                        <div class="form-group">
                            <div class="col-md-1 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.FirstName)
                            </div>
                            <div class="col-md-11">
                                @Html.TextBoxFor(x => x.AktifKayit.FirstName, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.AktifKayit.FirstName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.LastName)
                            </div>
                            <div class="col-md-11">
                                @Html.TextBoxFor(x => x.AktifKayit.LastName, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.AktifKayit.LastName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 text-right MarginTop5">
                                @Html.LabelFor(x => x.AktifKayit.Email)
                            </div>
                            <div class="col-md-11">
                                @Html.TextBoxFor(x => x.AktifKayit.Email, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.AktifKayit.Email)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
@section LayoutScript{
    @Html.Partial("_MesajSistemi", Model.IslemMesaj)
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

