﻿@model TMS.View.Genel.EkranYonlendirme
<div class="row">
    <div class="col col-md-12"> 
        <div class="pull-left">
            @*<i class="fa fa-3x fa-clock-o" style="margin-top:5px;margin-right:10px;color:#d64742"></i>*@
            <img width="72" height="72" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Platform/Theme/Default/Images/Preloader_2.gif")"  />
            <div style="margin-top: -54px;margin-left: 74px;">
                <small id="GeriSayim"></small>
            </div>
        </div>
        <small style="margin-top: 18px;margin-left:5px;
        font-size: 18px;" class="pull-left">
            Sonra @Model.Mesaj
            @if (Model.LinkDurum)
                {
                    @:veya <a style="padding-left:2px;font-size: 18px; margin-top:-4px" class="btn btn-link" href="@Model.Url"> Şimdi Gidelim mi ?</a>
            }
        </small>
    </div>
</div>
<script type="text/javascript">
    var GeriSayimZaman=new Date().getTime() +1000*@Model.Saniye;
    var GeriSayimUrl="@Model.Url";
</script>
