﻿@{
    ViewBag.Title = "Platform - Index";
    Layout = "~/Areas/Platform/Views/Shared/_Root.cshtml";
}

<section class="body">
    <!-- start: header -->
    <header class="header">
        <div class="logo-container">
            @{
                string Link = "";
                Link = "~/Platform/Anasayfa/Index";
                Link = TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Link);
                <a href="@Link" class="logo">
                    <img class="visible-md visible-lg" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/logo.png")" height="58" alt="TMS.com Yönetim Platformi" />
                    <img class="visible-xs" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/logo.png?w=250")" height="45" alt="TMS.com Yönetim Platformi" />
                </a>
            }
            @*<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>*@
        </div>
    </header>
    <!-- end: header -->
    <div class="inner-wrapper">
        <section role="main" class="content-body">
            @RenderBody()
        </section>
    </div>
</section>
