﻿<!DOCTYPE html>
<html class="fixed header-dark js flexbox flexboxlegacy no-touch csstransforms csstransforms3d no-overflowscrolling no-mobile-device custom-scroll">
<head>
    <!-- Basic -->
    @Html.Partial("~/Views/Shared/_GenelHeaderBilgilendirme.cshtml")
    @Html.Partial("~/Views/Shared/_favicon.cshtml")
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    @Styles.Render("~/Platform.Vendor/css")
    @Styles.Render("~/Platform.CustomVendor/css")
    @Styles.Render("~/Platform.Theme/css")
    @Styles.Render("~/Platform.CustomTheme/css")
    @Styles.Render("~/Platform.elfinder/css")
    @RenderSection("LayoutRaporStyle", required: false)
    @Scripts.Render("~/Platform.jquery/js")
    @RenderSection("LayoutRaporScript", required: false)
    @Scripts.Render("~/Platform.modernizr/js")

</head>
<body>
    @*<div class="se-pre-con"></div>*@
    @RenderBody()
    @Scripts.Render("~/Platform.Vendor/js")
    @Scripts.Render("~/Platform.CustomVendor/js")
    @Scripts.Render("~/Platform.theme/js")
    @Scripts.Render("~/Platform.theme_init/js")
    @*@Scripts.Render("~/Platform.SpecificPage/js")*@
    @Scripts.Render("~/Platform.customtheme/js")
    @Scripts.Render("~/Platform.GoogleMap/js")
    @RenderSection("LayoutScript", required: false)
    @Scripts.Render("~/Platform.elfinder/js")
    @Html.Partial("~/Views/Shared/_Analistik.cshtml")
    @Html.Partial("~/Views/Shared/_Zoopim.cshtml")
</body>
</html>
