﻿
@model TMS.View.Genel.DataTable
<table id="@Model.TableName" class="table-hover table table-responsive table-no-more table-bordered table-striped mb-none">
    <thead>
        <tr>
            @foreach (var Sutun in Model.SutunListesi)
            {
                <th class="col-md-2">@Sutun.HeaderText</th>
            }
        </tr>
    </thead>
</table>
<script type="text/javascript">
        $(document).ready(function () {
            $('#@Model.TableName').DataTable(
              {
                  "ajax":
                  {
                      "url":"@Model.Ajax.Url",
                      "type":"@Model.Ajax.Type",
                      "datatype":"@Model.Ajax.DataType"
                  },
                  "columns":
                      [
                      @foreach (var Sutun in Model.SutunListesi.Where(x=>x.Visible))
                      {
                         @:{"data":"@Sutun.Data","name":"@Sutun.Name","width":@Sutun.Width,"autoWidth":@Sutun.OtomatikGenislik.ToString().ToLower()},
                      }
                  ],
                  "serverSide": "@Model.ServerSide.ToString().ToLower()",
                  "order": [0, "asc"],
                  "processing": "@Model.Processing.ToString().ToLower()",
                  "language":
                  {
                    "processing": "Yükleniyor... Lütfen Bekleyin !"
                  }
              });

        });
</script>