﻿<div class="header-right">
    <span class="separator"></span>
    @{
        TMS.Panel.Web.Code.Security.CustomPrincipal Usr = (HttpContext.Current.User as TMS.Panel.Web.Code.Security.CustomPrincipal);
    <ul class="notifications">
        <li>
            <a class="dropdown-toggle notification-icon" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Administrator/")">
                <i class="fa fa-2x fa-home"></i>
            </a>
        </li>
        <li>
            <a data-toggle="tooltip" data- title="Mesajları Görüntüle" data-placement="bottom" class="dropdown-toggle notification-icon" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Administrator/UserBildirim/Index")">
                <i class="fas fa-2x fa-comments"></i>
            </a>
        </li>
    </ul>
        <span class="separator"></span>
        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="@((Usr.Image == "" || Usr.Image==null) ? TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/images/fotoyok.Png"):TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Usr.Image))"
                         alt="@Usr.UserName"
                         class="img-circle" data-lock-picture="@((Usr.Image == "" || Usr.Image==null) ?TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Administrator/images/!logged-user.jpg"):TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Usr.Image))" />
                </figure>
                <div class="profile-info" data-lock-name="@string.Format("{0} {1}", Usr.FirstName, Usr.LastName)" data-lock-email="@string.Format("{0}",Usr.UserName)">
                    <span class="name">@string.Format("{0} {1} ({2}", Usr.FirstName, Usr.LastName, Usr.UserName)</span>
                    <span class="role">@(Usr.roles.Count() > 0 ? Usr.roles[0].ToString() : "")</span>
                </div>
                <i class="fa custom-caret"></i>
            </a>
            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                    <li>
                        <a class="" role="menuitem" tabindex="-1" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Account/ChangePassword")">
                            <i class="fas fa-2x fa-lock"></i> Şifre Değiştir
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="" role="menuitem" tabindex="-1" href="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Account/Cikis")"><i class=" fa fa-2x fa-power-off"></i> Çıkış Yap</a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
