﻿<!DOCTYPE html>
<html class="fixed header-dark js flexbox flexboxlegacy no-touch csstransforms csstransforms3d no-overflowscrolling no-mobile-device custom-scroll sidebar-left-collapsed">
<head>
    <!-- Basic -->
    @Html.Partial("~/Views/Shared/_GenelHeaderBilgilendirme.cshtml")
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    @Styles.Render("~/Administrator.Vendor/css")
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    @Styles.Render("~/Administrator.CustomVendor/css")
    @Styles.Render("~/Administrator.Theme/css")
    @Styles.Render("~/Administrator.CustomTheme/css")
    @Styles.Render("~/Administrator.elfinder/css")
    @RenderSection("LayoutRaporStyle", required: false)
    @Scripts.Render("~/Administrator.jquery/js")
    @RenderSection("LayoutRaporScript", required: false)
    @Scripts.Render("~/Administrator.modernizr/js")
</head>
<body>
    <div class="se-pre-con"></div>
    <section class="body">
        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                @{ string Link = "";
                                Link = "~/Administrator/Anasayfa/Index";
                                Link = TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl(Link);
                    <a href="@Link" class="logo">
                        <img class="visible-md visible-lg" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/logo.png")" height="58" alt="TMS.com Yönetim Paneli" />
                        <img class="visible-xs" src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Content/Images/logo.png?w=250")" height="45" alt="TMS.com Yönetim Paneli" />
                    </a> }
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
            @Html.Partial("~/Areas/Administrator/Views/Shared/_KullaniciPanel.cshtml")
        </header>
        <!-- end: header -->
        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @Html.Partial("~/Areas/Administrator/Views/Shared/_Menu.cshtml")
            <!-- end: sidebar -->
            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="sidebar-right-wrapper">
                        <div class="sidebar-widget widget-calendar">
                            <h6>Görevler</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>
                            <span>
                                Görev Yok
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    @Scripts.Render("~/Administrator.Vendor/js")

    @Scripts.Render("~/Administrator.CustomVendor/js")
    @Scripts.Render("~/Administrator.theme/js")
    @Scripts.Render("~/Administrator.theme_init/js")

    @*@Scripts.Render("~/Administrator.SpecificPage/js")*@
    @Scripts.Render("~/Administrator.customtheme/js")
    @Scripts.Render("~/Administrator.GoogleMap/js")
    @RenderSection("LayoutScript", required: false)
    @Scripts.Render("~/Administrator.elfinder/js")
    @Html.Partial("~/Views/Shared/_Analistik.cshtml")
</body>
</html>
