﻿<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            İşlemler
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation" style="color:#d219d4;">
                <ul class="nav nav-main">
                    <li>
                        <a href="~/Administrator/Anasayfa">
                            <i class="fa fa-home" aria-hidden="true" style="        color: #d219d4;"></i>
                            <span>Anasayfa</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Administrator/GenelAyar">
                            <i class="fa fa-user-cog" aria-hidden="true" style="color: #e17055;"></i>
                            <span>Ayarlar</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/Administrator/Users">
                            <i class="fa fa-user" aria-hidden="true" style="color: #e17055;"></i>
                            <span>Users</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="~/Administrator/Kullanici/">
                            <i class="fas fa-user-graduate" aria-hidden="true" style="color: #f1c40f;"></i>
                            <span>Kullanıcılar</span>
                        </a>
                    </li>*@
                </ul>
            </nav>
        </div>
    </div>
</aside>