﻿@model TMS.View.Administrator.TableExportMenu
@if (Model.BtnJson
                    | Model.BtnXml
                    | Model.BtnSql
                    | Model.BtnCsv
                    | Model.BtnTxt
                    | Model.BtnXls
                    | Model.BtnWord
                    | Model.BtnPpt
                    | Model.BtnPdf
                )
{
    <div class="dropdown">
        <button type="button" class="btn btn-default dropdown-toggle text-danger" data-toggle="dropdown" aria-expanded="true">
            <span class="fa fa-2x fa-share-alt" aria-hidden="true"></span>Export
        </button>
        <ul class="dropdown-menu">
            @if (Model.BtnJson)
            {
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'json',escape:'false'});">
                        <img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/json.png")" width="24px" class="mrx">Export to Json
                    </a>
                </li>
            }
            @if (Model.BtnXml)
            {
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'xml',escape:'false'});"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/xml.png")" width="24px" class="mrx">Export to Xml</a>
                </li>
            }
            @if (Model.BtnSql)
            {
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'sql'});"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/sql.png")" width="24px" class="mrx">Export to Sql</a>
                </li>
            }
            @if (Model.BtnCsv | Model.BtnTxt)
            {
                <li class="divider"></li>
            }
            @if (Model.BtnCsv)
            {
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'csv'});"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/csv.png")" width="24px" class="mrx">Export to csv</a>
                </li>
            }
            @if (Model.BtnTxt)
            {
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'txt',escape:'false'});"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/txt.png")" width="24px" class="mrx">Export to TXT</a>
                </li>
            }
            @if (Model.BtnXls | Model.BtnWord | Model.BtnPpt)
            {
                <li class="divider"></li>
            }
            @if (Model.BtnXls)
            {
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'excel',escape:'false'});"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/xls.png")" width="24px" class="mrx">Export to Excel</a>
                </li>
            }
            @if (Model.BtnWord)
            {
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'doc',escape:'false'});"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/word.png")" width="24px" class="mrx">Export to word </a>
                </li>
            }
            @if (Model.BtnPpt)
            {
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'powerpoint',escape:'false'});"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/ppt.png")" width="24px" class="mrx">Export to powerpoint</a>
                </li>
            }
            @if (Model.BtnPdf)
            {
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="$('#@Model.TableName').tableExport({type:'pdf', pdfFontSize:'14', escape:'false'});"><img src="@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Areas/Administrator/Theme/Default/Vendor/tableExport/icon/pdf.png")" width="24px" class="mrx">Export to Pdf</a>
                </li>
            }
        </ul>
    </div>
}
