﻿<!DOCTYPE html>
<html class="fixed">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <title>TMS</title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="TMS Yazılım Ekibi">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    @Styles.Render("~/Anasayfa.Vendor/css")
    @Styles.Render("~/Anasayfa.CustomVendor/css")
    @Styles.Render("~/Anasayfa.Theme/css")
    @Styles.Render("~/Anasayfa.CustomTheme/css")
    @Scripts.Render("~/Anasayfa.modernizr/js")
</head>
<body>
    <!-- start: page -->
    <section class="body-error error-outside">
        <div class="center-error">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-error mb-xlg">
                        <meta http-equiv="refresh" content="3;url=@TMS.Panel.Web.Araclar.HtmlHelpers.ResolveUrl("~/Platform/Account/Index")">
                        <h2 class="error-code text-dark text-center text-semibold m-none">Yetki Yok <i class="fa fa-file"></i></h2>
                        <p class="error-explanation text-center">Giriş Sayfasına Yönlendiriliyorsunuz?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Scripts.Render("~/Anasayfa.Vendor/js")
    @Scripts.Render("~/Anasayfa.CustomVendor/js")
    @Scripts.Render("~/Anasayfa.theme/js")
    @Scripts.Render("~/Anasayfa.customtheme/js")
    @Scripts.Render("~/Anasayfa.theme_init/js")
    @Scripts.Render("~/Anasayfa.SpecificPage/js")
    @Html.Partial("~/Views/Shared/_Analistik.cshtml")
</body>
</html>
